<style>
.main-ipl{max-width:100%;display:block;text-align:center;position:relative}
.main-ipl h1{font-size:33px;font-weight:600;color:#2e3192;margin:0}
p.feel-like{font-size:22px;font-style:italic;color:#fff;width:376px;margin:0 auto;background-image:url(https://cdn.shopify.com/s/files/1/0459/6563/9834/files/MotionBlur_Rectangle_1.png?v=1680592511);background-repeat:no-repeat;background-position:center}
  @media(max-width:400px){
    p.feel-like {font-size: 20px;width: 288px;}
    .main-ipl h1 {font-size: 24px;line-height: 30px;padding-bottom: 7px;}
</style>
<div class="main-ipl" data-aos="fade-down">
  <h1>Shop From Our Exclusive Royals Collection</h1>
  <p class="feel-like">Feel Like A Royal</p>
</div>