<style>
  .disc-main {
    display: none;
  }
  @media(max-width:450px) {
    .discount-section {
    display: block;
  }
    h2.off::before {
    content: "";
    position: absolute;
    background-image: url(https://cdn.shopify.com/s/files/1/0459/6563/9834/files/discount.png?v=1692708018);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 0;
}
    .discount-setup {
      max-width: 100%;
      background: #03ddfe33;
      border: 1px dashed #03ddfe;
      padding: 10px;
      width: 248px;
      position: relative;
          
    }
    .discount-setup h2 {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 600;
      color: #007364;
      padding-left: 9px;
    }
    .discount-setup span {
      font-weight: 700;
    }
    .discount-setup::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 25px;
      top: 39%;
      left: -12px;
      border-right: 1px solid #03ddfe;
    }
    .discount-setup::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 25px;
      top: 39%;
      right: -12px;
      border-left: 1px solid #03ddfe;
    }
    .disc {
      position: relative;
      padding-left: 9px;
    }
    span#copy-cat {
      position: relative;
    }
    span#copy-cat::after {
      width: 15px;
      height: 15px;
      background: url('https://cdn.shopify.com/s/files/1/0459/6563/9834/files/copy_8e18de77-fb05-4190-a36c-7c9aaa64e0b4.png?v=1692697786');
      content: "";
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 1px;
      right: -17px;
    }
    .discount-section {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-padding: 20px;
      width: 100%;
      transition: 0.4s;
    }
    .discount-setup {
      flex: 62% 0 0;
      scrol-snap-align: start;
      margin: 8px 10px;
      margin-left: 0px;
      border-radius:5px
    }
    h2.off {
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 500;
    color: #007364;
      position:relative;
      padding-left:25px
}
    .disc-main {
    margin-top: -13px;
      display:block
}
  }
</style>
<div class="disc-main">
  <h2 class="off">Available Offers!</h2>
  <div class="discount-section">
  {% for tag in product.tags %}
  <div class="discounts">
      {% if tag == 'Discount@25' %}
    <div class="discount-setup">
      <h2>Get FLAT 25% OFF</h2>
      <div class="disc">Use code: <span onclick="copyToClipboard(this)" class="dsc" id="copy-cat">BSC25</span></div>
    </div>
        {% elsif tag == "shipping-199" %}
    <div class="discount-setup">
      <h2>Free shipping above Rs.199</h2>
      <div class="disc">No coupon required<sup>*</sup></div>
      {% comment %} <div class="disc">Use code:
      <span
      onclick="copyToClipboard(this)"
      class="dsc"
      id="copy-cat">BSC25</div>
      </span> {% endcomment %}
    </div>
        {% else %}
        <div class="display:none"></div>
        {% endif %}
  </div>
  {% endfor %}
</div>
</div>
