<style>
    .pify-offline{margin-top:-16px;margin-bottom: 77px;}
  a.term {right: -12px;position: absolute;display: block;width: 185px;transition: 0.5s;text-transform: capitalize;text-decoration: underline;color: #ddd;margin-top:-43px;}
  a.term:hover{color:#fff}
</style>
<!-- pifyform-start -->
<style>
  .pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}
</style>
<div class="pify-offline">
  <div id="pifyform-10970" class="pifyform" style="margin:10px 0;">
    <script charset="UTF-8" defer>
      document.getElementById("pifyform-10970").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"}}if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-10970";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height}}else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")}}}var d = document.getElementById("pifyform-10970");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/10970";a.id="form-iframe-10970";a.onload=function(){document.getElementById("pifyform-10970").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-10970")){d.appendChild(a);}},50);})(window);
    </script>
  </div>
  <a href="/pages/ipl-2023-terms-and-conditions" class="term"> *terms and conditions</a>
</div>

<!-- pifyform-end -->
