<style>
  .checkzip {display: flex;flex-flow: wrap;margin-bottom: 15px;margin-top: 15px;background: #fff;padding: 26px 6px 17px 6px;border: 2px dashed #0d5ea8;border-radius: 10px;}
  .checkzip .Form__Input{width:55%;margin-right:5%; display:block}
  .checkzip .Button{width:40%; display:block; cursor:pointer}
  .msgg {font-weight: bold;color: #0d5ea8; padding-top: 17px;text-align: center;margin: 0 auto;}
  .checkzip-heading h2 {font-size: 18px;text-align: left;margin: 0;font-weight: bold;}
  @media(max-width:480px){
    .checkzip{margin-top:15px}
  }
</style>
<div class="checkzip-heading">
  <h2>Check estimated days of delivery</h2>
  <div class="checkzip">
   <input type="text" name="zip" class="Form__Input" id="pincodeInput" placeholder="Search for Zip e.g 110053">
   <div id="checkPincodeButton" class="Button Button--primary">Check</div>
  <div class="msgg" style="display:none">Yay! Your order will be delivered in <span class="deldate"></span> days. </div>
</div>
</div>
