<style>
    section#section-template--16069491359898__e15ad2bc-64d4-4871-8afc-535a8ad5347f .Container{padding:0}
  .main-test-2{display:block;position:relative;padding:33px 0}
  .inner-textt h2{font-size:33px;margin-bottom:0;text-align:center;color:#2e3192;font-weight:700;}
  .inner-textt p {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin-top: -5px;
    color: #000;
}
    @media(max-width:500px){.inner-textt h2{font-size:25px}.inner-textt{margin-bottom:-30px}}
</style>
<div class="main-test-2">
  <div class="inner-textt">
    <h2>Shop the Royals Choice</h2>
    <p>Buy more & Increase your chances of winning.</p>
  </div>
</div>
