<style></style>
<div class="trim-comparison">
  <h1><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Trimmer_ComparisionCard_1.webp?v=1687928786" style="width:100%; height:auto"></h1>
</div>