
<div class="foam-div">
  <div class="container">
  
    <div class="text-center">
     <a class="button button-dark eplr" href="#hdxs">Explore now</a>
    </div>
    
    <div class="row al-centerd">
      <div class="col-sm-6 col-12"><p>When it comes to a perfect shave, the most important thing is to create the ideal base for the perfect glide. That’s where we come in. Our moisture-rich, Shaving Creams are infused with all-natural superfoods that help reduce post-shave irritation and offer a one-stroke smooth shaving experience.
</p><p>Bombay Shaving Company's shaving foams also create extra lather! With 2X Ultra Crème Formula, our foams are doubly creamier while also being SLS, Paraben & Cruelty-Free. Get ready to indulge in the unique fragrances that will keep you energised throughout the day.
</p></div>
      <div class="col-sm-6 col-12">
      <div class="foamy">  
        <div class="parallax-box">
        <img class="cfe" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Coffee_Beans.png?v=1647325203">
        <img class="ashn" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ashwin_CoffeeFoam.png?v=1647325203">
        </div>
        
        <div class="parallax-box ck">
        <img class="cfe" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ingredients_Vector.png?v=1647339795">
        <img class="ashn" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ashwin_Charcoal.png?v=1647339795">
        </div>
        
        <div class="parallax-box trc">
        <img class="cfe" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Turmeric_Vectors.png?v=1647339796">
        <img class="ashn" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ashwin_Turmeric.png?v=1647339796">
        </div>
        
        <div class="parallax-box sens">
        <img class="cfe" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ingredients_Vector_1.png?v=1647339796">
        <img class="ashn" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ashwin_Sensitive.png?v=1647339796">
        </div>
      
      </div>
        
    </div>
    </div>
    <div class="ofrx"><span>Limited Period Offer</span><br>20% OFF | Use code: BSC20</div>
    <h2 id="hdxs" class="headinw">Choose from our range of <span>Shaving Foams today</span></h2>
      
    <div class="rel">
    <div class="foam-products">
        <div class="foam-prod">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/CharcoalShavingFoam.jpg?v=1647335182">
          <h3>Charcoal</h3>
          <p class="bck">Deep cleanses and De-tans</p>
          <ul>
            <li>Enriched with Activated Charcoal & Moroccan Argan Oil</li>
          </ul>
          <a class="button button-dark" href="/cart/add?id=39711942869146&quantity=1">Buy Now</a>
        </div>
        
        <div class="foam-prod">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/CoffeeShavingFoam.jpg?v=1647335182">
          <h3>Coffee</h3>
          <p class="bcf">Naturally exfoliates and invigorates</p>
          <ul>
            <li>Enriched with the rich blend of Coffee & Cream</li>
          </ul>
                    <a class="button button-dark" href="/cart/add?id=36369162862746&quantity=1">Buy Now</a>
        </div>
        
        <div class="foam-prod">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/TurmericShavingFoam.jpg?v=1647335182">
          <h3>Turmeric</h3>
          <p class="btc">Reduces Redness</p>
          <ul>
            <li>Enriched with Turmeric, Sandalwood & Saffron</li>
          </ul>
                    <a class="button button-dark" href="/cart/add?id=36369316315290&quantity=1">Buy Now</a>
        </div>
        
        <div class="foam-prod">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/SensitiveShavingFoam.jpg?v=1647335182">
          <h3>Sensitive</h3>
          <p class="bse">Soothes irritated skin</p>
          <ul>
            <li>Enriched with Aloe Vera & Oats</li>
          </ul>
                    <a class="button button-dark" href="/cart/add?id=36369109188762&quantity=1">Buy Now</a>
        </div>
      </div>
      <div class="controls">
          <div class="prev-slide fp2"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/></svg></div>
          <div class="next-slide fp2n"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/></svg></div>
      </div>
    </div>
    
    
      
  </div>
  
  <div class="htu">
    <div class="container">
    <h2 class="text-center headinw">Here's how to make the most of it</h2>
      
      <div class="rel">
      <div class="htt-slider">
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/1_8c4a0c29-9130-458e-bf3b-962fa7a81245.png?v=1647411678"><p>1. Shake the foam can for 20 seconds and spray a dollop on your palm. The fullness of the foam will brighten your day instantly.</p></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/2_0c3c7441-5bbd-4978-a875-547a529cc498.png?v=1647411678"><p>2. Massage the foam gently on your face with your hands (not a brush), spread it evenly, and watch the lather work up in no time.</p></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/3_28c758c6-8399-4d4f-8a48-92c354436a27.png?v=1647411678"><p>3. Now take the razor and glide it over your skin. Experience a smooth wholesome shave.</p></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/4_77d81714-ae8d-4ca1-888e-790ee2d2fd67.png?v=1647411678"><p>4. What's more? Well, the lovely fragrance of the foam lasts well into your day.</p></div>
      </div>
      <div class="controls">
          <div class="prev-slide prv"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/></svg></div>
          <div class="next-slide nxt"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve"><polygon points="112.814,0 91.566,21.178 273.512,203.718 91.566,386.258 112.814,407.436 315.869,203.718 "/></svg></div>
      </div>
      </div>
    </div>
    </div>
  
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  html {scroll-behavior: smooth;}
  .foam-div{margin-top:25px}
  .text-center{text-align:center}
  .button-dark{background:#000!important;color:#fff!important;text-transform:uppercase;margin-bottom: 15px;font-family: 'Bebas Neue', cursive!important;font-size: 26px !important;}
  .parallax-box{position:relative;}
  img.ashn {position: relative;} 
  img.cfe {position: absolute;z-index:0;animation:suttle 5s linear infinite} 
  .parallax-box::before{position:absolute;content:"";width:100%;height:100%;background:#a16334;border-radius:50%;animation:scalesuttle 5s linear infinite}
  .parallax-box.ck::before{background:#000;}
  .parallax-box.trc::before{background:#cf8f1d;}
  .parallax-box.sens::before{background:#0089b5;}
  .al-centerd{align-items:center;justify-content:center}
  .foam-div p{font-size:18px;line-height: 1.6;}
  .bl-box{background:#000;color:#fff;padding:25px 0 1px}
  .headinw{font-size:45px;text-transform:uppercase;font-family: 'Bebas Neue', cursive!important;line-height:1;text-align:center}
  .headinw span{color:#0c7191}
  .foam-prod h3{text-transform:uppercase;font-family: 'Bebas Neue', cursive!important;line-height:1;font-size:37px;margin-bottom:5px}
  .foam-prod p{font-size:14px;background:#e1e1e1;margin: 0 20px 5px 0; padding: 5px 5px;}  
  .foam-prod p.bcf{background: #90583b; color: #fff;}
  .foam-prod p.btc{background: #d9a225;color: #fff;}
  .foam-prod p.bse{background: #0092ba; color: #fff;}
  .foam-prod ul{list-style:outside;padding-left:12px;min-height: 60px;}
  .foam-prod a{font-size: 18px !important; display: block;text-align: center;margin-right: 20px;}
  .ofrx{background: #000; color: #1ed5fe; padding: 20px; text-align: center; font-size: 40px; text-transform: uppercase; line-height: 1.4;border-radius: 12px;margin-top: 30px;font-weight:700}

  .ofrx span{color:#fff;font-size: 25px; font-weight: 500;}
  .rel{position:relative}
  .next-slide svg, .prev-slide svg{width:15px;height:15px;fill:#29705a}
  .prev-slide svg{transform:rotate(180deg)}
  .next-slide, .prev-slide {width: 45px; height: 45px; display: inline-block; padding: 0 15px; cursor: pointer; -webkit-tap-highlight-color: transparent; position: absolute; background: #fff; border-radius: 50%; text-align: center; box-shadow: 0 0 10px #d2d2d2;display:flex!important;align-items:center;justify-content:center;transition:0.2s}
  .next-slide:hover, .prev-slide:hover{box-shadow: 0 0 15px #d2d2d2;}
  .next-slide{right:0}
  .controls{position:absolute;bottom:55%;width:96%;left:2%;}
  .rel .controls{bottom:unset;top:24%}
  
  .htt-slider{text-align:center;}
  .htu{background:#000;padding: 5px 0;}
  .htu .headinw {color:#1ed5fe}
  .htu p{color:#fff}
  .htt-slider p{font-size:14px}
  .htt-slider .slide {padding:0 20px}
  .section-title{font-family: 'Bebas Neue', cursive!important;line-height:1;font-size:45px;text-transform:uppercase;} 
  .quote_content p strong { color: #007e91; margin-bottom: -15px; display: block; font-size: 16px; font-weight: 700;}
  @keyframes suttle{
    0%, 100%{transform:translateY(0px)}
    50%{transform:translateY(10px)}
  }
  @keyframes scalesuttle{
    0%, 100%{transform:scale(1)}
    50%{transform:scale(0.95)}
  }
  
  @media(max-width:480px){
    .headinw{font-size:40px}
    .ofrx{font-size:20px}
    .ofrx span{font-size:16px}
    .foam-prod a{margin-right:0}

    .section-title{font-size:40px}
.foam-prod ul{font-size:18px;min-height: 75px;}
    .htt-slider p {font-size: 20px;}
    .eplr.active{position: fixed; bottom: 40px;width: 100%; left: 0;z-index: 101;transition: 0.3s;}
    .foam-div p{font-size:19px;text-align: center;margin-right:0}
    .foam-prod h3{text-align:center}

  }
</style>
<script  type="text/javascript" src="{{ 'slick.min.js' | asset_url }}"></script>
<script>

   $('.foamy').slick({
    slidesToShow: 1,
    slidesToScroll:1,
    autoplay: true,
    autoplaySpeed: 3000,
    centerMode: false,

    dots: false,
     responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll:1,
      }
    }
  ]
  });

  
  $('.foam-products').slick({
    slidesToShow: 4,
    slidesToScroll:1,

    autoplay: false,
    centerMode: false,
    pauseOnFocus:true,
    arrows: true,
    nextArrow: '.fp2n',
    prevArrow: '.fp2',
    focusOnSelect: false,
    touchThreshold: 9,
    dots: false,
     responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll:1,
      }
    }
  ]
  });

  
  $('.htt-slider').slick({
    slidesToShow: 4,
    slidesToScroll:1,

    autoplay: true,
    centerMode: false,
    pauseOnFocus:true,
    arrows: true,
    nextArrow: '.nxt',
    prevArrow: '.prv',
    focusOnSelect: false,
    touchThreshold: 9,
    dots: false,
     responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll:1,
      }
    }
  ]
  });
  
  
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 1000) {
        $(".eplr").addClass("active");
    } else {
        $(".eplr").removeClass("active");
    }
});
</script>

{% schema %}
   {
    "presets": [
        {
          "category": "Product",
          "name": "Foam"
          
          
        }
      ]
  }
{% endschema %}