

<div class="slidezz">
  <div class="formxx">
  
<!--pifyform-start-->
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-9830" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-9830").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"}}if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-9830";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height}}else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")}}}var d = document.getElementById("pifyform-9830");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/9830";a.id="form-iframe-9830";a.onload=function(){document.getElementById("pifyform-9830").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";d.appendChild(a);})(window);</script>
</div>
<!--pifyform-end-->

  </div>

  <div class="slidezzz foxislider">

    {%- for block in section.blocks -%}
    <div class="three-in-a-row">
      
      <a href="{{ block.settings.linkurl }}">
        <div class="desk-cont"><img src="{{ block.settings.image | img_url: 'master' }}"></div>
        <div class="mob-cont"><img src="{{ block.settings.image2 | img_url: 'master' }}"></div>
        
      </a>
      
    </div>
    {%- endfor -%}

  </div>
</div>

<script>
  $('.foxislider').slick({
    dots: true,
    autoplay: true,
    adaptiveHeight: true,
    autoplaySpeed: 7000,
    infinite: true,

  });

  
</script>
<style>
      .desk-cont{display:block}
      .mob-cont{display:none}
    .slidezz .slick-dotted.slick-slider{margin-bottom:0!important}
  .slidezz .slick-dots{bottom:20px}
  .slidezz .slick-dots li button:before{font-size:15px}
  .slidezz{position:relative}
  .formxx{position: absolute; right: 0; top: 0; width: 400px;z-index:1}
  @media(max-width:480px){
    .slidezz{margin-bottom: 40px;}
    .desk-cont{display:none}
        .mob-cont{display:block}
  }
</style>
{% schema %}
   {
    "name": "Custom Slideshow",
    "settings": [],
	"blocks": [
            {
			  "type": "testimonial",
              "name": "Blocks",
              "settings": [
                {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Desktop Image"

                },
{
                  "type": "image_picker",
                  "id": "image2",
                  "label": "Mobile Image"

                },
                {
                  "type": "url",
                  "id": "linkurl",
                  "label": "Link"
                }
		
                

              ]
            }
          ],
    
	"presets": [
        {
          "category": "Product",
          "name": "Custom Slideshow"
          
          
        }
      ]
  }
{% endschema %}
