<style>
  .cont-pad {
    DISPLAY: BLOCK;
    margin: 49px 40px;
    position: relative;
}
  h2.hm {
    font-size: 20px;
    font-weight: 500;
    color: #0f8ed9;
}
  h2.bm {
    font-size: 20px;
    font-weight: 500;
    color: #0f8ed9;
}
  h2.mm {
    font-size: 41px;
    font-weight: 800;
    color: #0F8ED9;
    text-transform: uppercase;
    margin: 0;
}
  @media(max-width:500px){
    h2.mm {
    font-size: 31px}
  }
</style>
<div class="container">
  <div class="cont-pad">
    <h2 class="hm">Hey Man, </h2>
 
<h2 class="bm">You know what?  IT'S ALL GOOD - Who you are. What you do. Where you're from... Whether you're a rockstar, or still searching for your next gig; even if you're still trying to find yourself - it's all good. In fact, it's great.</h2>
<h2 class="mm">We Love You for You.</h2>

<h2 class="bm">We don't want you to be anything more, or anything less. We want you to just BE. Be the doctor, be the scientist, be the hero, be the bum, be the bold one. Be whatever you like. Even if it's just for a day - YOU DO YOU.</h2>

<h2 class="mm">We want you to be happy. </h2>
<h2 class="bm">We DON'T WANT you to be a slave to stereotype. We don't want you to chase illusions. We don't want you to chase someone else's expectations. We don't want you to chase anything.</h2>

<h2 class="mm">But, sadly, others will chase you today:</h2>
<h2 class="bm">They will come at you with dreams, discounts, and what not. They will be in your face. Just because it's 'International Men's Day' - They'll be behind you.</h2>

<h2 class="mm">That's why we'll step back.</h2>
<h2 class="bm">We won't add to your misery, or ask you to add us to your shopping list. We won't flatter you with offers, or offer you advice. From us, at least for today, we promise you  - there will be absolutely NO PRESSURE DUDE</h2>

<h2 class="bm">Enjoy your day. </h2>
  </div>
</div>

{% schema %}
  {
    "name": "imd content",
    "settings": [],
    "presets":[{
      "name":"imd content",
      "category": "testimonials"
    }]
  }
{% endschema %}

