<style>
.nudge_bsc{display:none;position:fixed;right:0;top:330px;writing-mode:vertical-rl;transform:rotate(180deg);padding:13px 6px;margin:0;font-size:11px;text-transform:uppercase;font-weight:600;color:#fcfcfc;z-index:999;cursor:pointer;border-radius:0 12px 12px 0;background:linear-gradient(340deg,rgba(226,23,143,1) 53%,rgba(46,49,146,0.9080225840336135) 76%);transition:opacity .5s ease-in-out;opacity:0}
.nudge_bsc h2{margin:0}
#nudgee.show{display:block;opacity:1}
</style>
{% for block in section.blocks %}
<div class="nudge_bsc" id="nudgee">
  <a href="{{ block.settings.nudge_url }}"><h2>{{ block.settings.nudge_text }}</h2></a>
</div>
{% endfor %}
<script>
  window.onscroll = function() {showNudge()};

function showNudge() {
  if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
    document.getElementById("nudgee").classList.add("show");
  } else {
    document.getElementById("nudgee").classList.remove("show");
  }
}
</script>
{% schema %}
  {
    "name": "nudge",
    "settings": [],
    "max_blocks": 1,
    "blocks":[
      {
        "type":"product",
        "name":"nudge block",
        "settings":[
          {
            "type":"text",
            "id":"nudge_text",
            "label":"heading"
          },
          {
            "type":"url",
            "id":"nudge_url",
            "label":"enter nudge url"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"product",
        "name":"nudge"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}