 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-grid-only@1.0.0/bootstrap.css">
<style>
  .rk-prod h2 {font-size: 24px;font-weight: 600; letter-spacing: 2px; margin-top: 10px; margin-bottom: 10px;clear: both;}
  .rk-prod{padding: 10px 24px;}
  p.conti {font-size: 18px;padding: 50px 0px;}
  .col-sm-12.video {margin: 30px 0px;}
  .Button.ad_to_cart_coll {padding: 15px 25px;  display: inline-block;  width: unset;  border-radius: 50px;  margin-top: 0px; }
  .pricediv {display: inline-block; font-size: 18px; font-weight: 700;float: right; margin-top: 6px;}
  .pricediv .onsaleprice{color:#0d5ea8}
  .pricediv .slashedprice{text-decoration:line-through;color:#777}
  @media(max-width:480px){
  .rk-prod {padding: 20px 0px;}
    p.conti {padding: 30px 0px 15px;}
  }
</style>
<div class="rakhicont">
   <div class="Container">
     <div class="row">
      
       
       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/rakhi-gift-premium-fragrances-for-men"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card-1-with-rakhi_1200x.jpg?v=1658223083"></a>
           <h2>RAKHI KIT - PREMIUM FRAGRANCES KIT FOR MEN <div class="pricediv">
             <span class="onsaleprice">₹645</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">24 reviews</span>
  </div>
           <p>Spoil him for choices with these premium perfumes so that he has something special to wear on every occasion. </p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="42215153238170" data-var_id="42215153238170" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>
       
       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/valentine-gift-shave-dazzle-kit"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card_1-with-rakhi_99c488e7-7ec3-4a37-985e-c87d39cd12eb_1200x.jpg?v=1658228263"></a>
           <h2>RAKHI KIT - SHAVE & DAZZLE KIT <div class="pricediv">
             <span class="onsaleprice">₹1584</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">10 reviews</span>
  </div>
           <p>Send the gentleman’s secret vault his way with the ultimate shaving collection that gets him noticed immediately, with the finishing touch of a spicy fragrance. </p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="40412071559322" data-var_id="40412071559322" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>
            
       <div class="col-sm-12 video col-xs-12">
         <video width="100%" poster="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Amerah.jpg?v=1658314625" src="https://cdn.shopify.com/videos/c/o/v/537bc00573774c3798776ba36d87986e.mov" playsinline loop controls muted></video>
       </div>

       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/rakhi-gift-charcoal-face-care-kit"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card-2-with-text_800x.jpg?v=1658313252"></a>
           <h2>RAKHI KIT - CHARCOAL FACE CARE KIT <div class="pricediv">
             <span class="onsaleprice">₹885</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">9 reviews</span>
  </div>
           <p>Gift him protection against everything impure with this amazing activated charcoal kit for salon-like deep cleansing.</p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="42215138361498" data-var_id="42215138361498" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>

       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/perfume-wallet-combo"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card_2_5621a415-3db3-4212-857f-65c9888ce4d2_800x.jpg?v=1658313338"></a>
           <h2>RAKHI KIT - PERFUME & WALLET COMBO <div class="pricediv">
             <span class="onsaleprice">₹1295</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">9 reviews</span>
  </div>
           <p>Gift him the perfect head-turning combo, with a smooth fragrance of spicy notes and a classic wallet for men.</p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="42215128596634" data-var_id="42215128596634" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>

       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/beard-grooming-styling-kit-2"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card_2_98d74f3b-a483-4e18-aae6-067047a8c3ec_800x.jpg?v=1659073757"></a>
           <h2>RAKHI KIT - BEARD GROOMING & STYLING GIFT SET <div class="pricediv">
             <span class="onsaleprice">₹1604</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">9 reviews</span>
  </div>
           <p>Gift him the glamour that he deserves with a flawlessly groomed beard through this premium bread prep kit, filled with the goodness of natural ingredients.</p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="41498070646938" data-var_id="41498070646938" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>

       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/rakhi-6-in-1-premium-shaving-kit"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card_2_d3d6abc0-be8e-4cdb-bef3-5befcc818752_1200x.jpg?v=1657888917"></a>
           <h2>RAKHI KIT - 6 IN 1 PREMIUM SHAVING GIFT SET <div class="pricediv">
             <span class="onsaleprice">₹3,125</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">16 reviews</span>
  </div>
           <p>Let him experience the most complete grooming ritual to help him put his best face forward every day.</p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="41498078806170" data-var_id="41498078806170" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>
<!-- end 2 grid -->
<div class="col-sm-12 video col-xs-12">
         <video width="100%" poster="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Shivangi.jpg?v=1658314625" src="https://cdn.shopify.com/videos/c/o/v/e9e92eb89fdb4aa69c1b143441b9c3b0.mov" playsinline loop controls muted></video>
       </div>
       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/rakhi-gift-coffee-facial-starter-kit"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card-1withrakhi_1200x.jpg?v=1658223502"></a>
           <h2>RAKHI KIT - COFFEE FACIAL STARTER KIT <div class="pricediv">
             <span class="onsaleprice">₹676</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">4 reviews</span>
  </div>
           <p>Show him the magic of coffee that goes beyond perfect dates in this plush coffee facial kit for his most radiant look ever.</p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="42215159824538" data-var_id="42215159824538" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>

       
               <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/rakhi-gift-mexico-moisturiser"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card_1-with-Rakhi_b2840bd2-974c-4476-8d7c-42314002e7bd_1200x.jpg?v=1658226488"></a>
           <h2>RAKHI KIT - MEXICO & MOISTURISER <div class="pricediv">
             <span class="onsaleprice">₹1040</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">10 reviews</span>
  </div>
           <p>Get him the ultimate party accessory for a long-lasting impression with a woody fragrance, made even more irresistible with a smooth shea butter moisturizer. </p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="42215236042906" data-var_id="42215236042906" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>
       <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/rakhi-gift-beard-care-starter-kit"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/Card-1-with-rakhi_b4f9daea-cd7b-4846-8e60-25fd21038441_1200x.jpg?v=1658223396"></a>
           <h2>RAKHI KIT - BEARD CARE STARTER KIT <div class="pricediv">
             <span class="onsaleprice">₹995</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">10 reviews</span>
  </div>
           <p>Let your beardy brother indulge in the most satisfying beard adorning ritual with this premium beard care collection, formulated with natural superfoods.</p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="42215157989530" data-var_id="42215157989530" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>
               <div class="col-sm-6 col-xs-12">
         <div class="rk-prod">
           <a href="/products/rakhi-gift-beard-trim-and-care-kit"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/products/BeardTrimCareKit_FirstCard_1200x.jpg?v=1658299694"></a>
           <h2>RAKHI KIT - BEARD TRIM AND CARE KIT <div class="pricediv">
             <span class="onsaleprice">₹1939</span>
           </div></h2>
           <div class="rating">
    <div class="rating__stars" role="img" aria-label="4.8 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg></div>

    <span class="rating__caption">13 reviews</span>
  </div>
           <p>Gift him the most suave kit of confidence with this premium beard trim collection and hand him over the key to achieve every style he ever wanted. </p>
           <button  type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary" id="ad_to_cart" aria-haspopup="dialog" data-add-to-cart="42221717160090" data-var_id="42221717160090" data-action="open-drawer" data-drawer-id="sidebar-cart">ADD TO CART</button>
         </div>
       </div>

  
       
<!-- end 2 grid -->
       
     </div>
   </div>
</div>

{% schema %}
   {
    "presets": [
        {
          "category": "Product",
          "name": "rakhi"
          
          
        }
      ]
  }
{% endschema %}