<style>
  .threeinarow{padding:30px 0 10px}
  .threeinarow h2{font-size:22px;font-weight:700;margin-bottom:0;line-height: 1.4;margin-bottom: 5px;}
  .threeinarow p{font-size:18px;font-weight:500;;font-style:italic}
  .threeinarow .row{display:flex;flex-flow:wrap;margin-bottom: 40px;}
  .threeinarow .row .col-md-4{width:33.33333%}
  @media(max-width:480px){
    .threeinarow .row .col-md-4{width:100%}
  }
</style>
<div class="threeinarow">
  <div class="Container">
    <h2>Live Out The Hassle-free Experience </h2>
  <p>Rannvijay Singha</p>
  <div class="row">
    <div class="col-md-4 col-12"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/1_3c970b67-e844-4c14-bb02-5cf10f5fa644.png?v=1663566142"></div>
    <div class="col-md-4 col-12"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/2_ae023a37-c6c4-4cb4-8d8c-873f2992ff0a.png?v=1663566143"></div>
    <div class="col-md-4 col-12"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/3_253044e9-0f7b-4a72-8030-2172f4db3195.png?v=1663566146"></div>
  </div>
     <h2>Make better decisions</h2>
  <p>Buying guide explained by experts</p>
  </div>
</div>

{% schema %}
  {
    "name": "Three in a row",
    "settings": [],
    "presets": [
	  {
		"name": "Three in a row",
		"category": "Product"
		
      }
	]
  }
{% endschema %}