<style>
 .testcard{background: #075383; color: #fff; padding: 20px; border-radius: 15px;margin:20px;box-shadow:0 0 12px  0 #ccc;}
  .trimtest h2{font-size:22px;font-weight:700;margin-bottom:0;line-height: 1.4;margin-bottom: 5px;}
  .trimtest p.subtitle{font-size:18px;font-weight:500;;font-style:italic}
  p.name {font-size: 18px;font-weight: 600;margin-bottom: 0;}
  p.content {font-weight: 500}
  .trimmeta{display: flex;flex-flow: wrap;text-align: center;}
  .trimmeta .ratin, .trimmeta .verfied{width:50%}
  .trimmeta .rating__star {width: 24px;height: 24px;color: #fff100;}
  .verfied p {margin-bottom: 0;font-weight: 500;}
  .verfied img {display: inline;width: 20px;}
  
  .ArticleList .slick-prev {left: 25px;}
  .ArticleList .slick-next {right: 10px;}
  .ArticleList .slick-next:before, .ArticleList .slick-prev:before{background: #065282; padding: 5px;border-radius: 50px;}
  .ArticleList .slick-next, .ArticleList .slick-prev{z-index:3;    top: 20%;}
  @media(max-width:480px){
    .testcard{margin: 10px;}
                         }
  
</style>
<div class="trimtest">
  <div class="Container">
    <h2>Here's some love from </h2>
  <p class="subtitle">Our Customers</p>
    <div class="trimtstslider">
      <div class="slideb">
        <div class="testcard">
          <p class="name">Gaurav Maurya</p>
          <p class="content">Using it from last three days , one of the gud one I have used ever, very clean cutting with the sharp blades and also battery backup is so nice, overall good product from BSC</p>
          <div class="trimmeta">
            <div class="ratin">
              <div class="rating__stars" role="img" aria-label="4.7 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star-half rating__star rating__star--half" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="url(#rating-star-gradient-half)"></path>
    </svg>
  </div>
            </div>
            <div class="verfied">
              <p>Verified Buyer <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Tick_Logo.png?v=1662707509"></p>
              <p>Signature Grey Trimmer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slideb">
        <div class="testcard">
          <p class="name">Prafull Yadav</p>
          <p class="content">I have used many type of trimer but this is too good more then batter other trimer and it wonderfull product and built quality is good and i am fully satisfied , love it .</p>
          <div class="trimmeta">
            <div class="ratin">
              <div class="rating__stars" role="img" aria-label="4.7 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star-half rating__star rating__star--half" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="url(#rating-star-gradient-half)"></path>
    </svg>
  </div>
            </div>
            <div class="verfied">
              <p>Verified Buyer <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Tick_Logo.png?v=1662707509"></p>
              <p>Signature Grey Trimmer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slideb">
        <div class="testcard">
          <p class="name">S A</p>
          <p class="content">Best quality.Blades are sharp, build quality is the best, When compared to other Trimmers Bombay 🪒 Trimmer Trims perfect size overall best valued trimmer in the market. Easy to Use & Wash.</p>
          <div class="trimmeta">
            <div class="ratin">
              <div class="rating__stars" role="img" aria-label="4.7 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star-half rating__star rating__star--half" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="url(#rating-star-gradient-half)"></path>
    </svg>
  </div>
            </div>
            <div class="verfied">
              <p>Verified Buyer <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Tick_Logo.png?v=1662707509"></p>
              <p>Signature Grey Trimmer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slideb">
        <div class="testcard">
          <p class="name">Vivek Kumar</p>
          <p class="content">Used this product twice till now, its working very well. The attachments are good enough to take care of my daily need. Beard trimming is very easy it works well. Good One.</p>
          <div class="trimmeta">
            <div class="ratin">
              <div class="rating__stars" role="img" aria-label="4.7 out of 5.0 stars"><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star rating__star rating__star--full" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
    </svg><svg fill="none" focusable="false" width="14" height="14" class="Icon Icon--rating-star-half rating__star rating__star--half" viewBox="0 0 14 13">
      <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="url(#rating-star-gradient-half)"></path>
    </svg>
  </div>
            </div>
            <div class="verfied">
              <p>Verified Buyer <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Tick_Logo.png?v=1662707509"></p>
              <p>Blue Trimmer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% render 'seo-content-category' %}
    <a href="#Slide16626347583edb2141-1"><img class="desk-cont" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/DEsktop_Backtotop.jpg?v=1662978257" width="100%">
    <img class="mob-cont" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/BAcktoTop.png?v=1662635398" width="100%"></a>
  </div>
</div>
<script>
  $('.ArticleList, .trimtstslider').slick({
              slidesToShow: 3,
              slidesToScroll: 1,
              infinite: true,
              arrows: true,
              autoplay: true,
			  responsive: [ {
                breakpoint: 520,
                settings: {
                  slidesToShow: 1
                }
              }]
            });
</script>
{% schema %}
  {
    "name": "Trimmer testimonials",
    "settings": [],
    "presets": [
	  {
		"name": "Trimmer testimonials",
		"category": "Product"
		
      }
	]
  }
{% endschema %}