
<div class="pdp-icons-wrapper">
<div class="pdp-iconz">
            
    <img width="110" loading="lazy" height="110" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Paraben-Free.png?v=1641386998" alt="">
    <img width="110" loading="lazy" height="110" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Sulphate-Free.png?v=1641386998" alt="">
    <img width="110" loading="lazy" height="110" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Cruelty-Free_bde4a504-73ad-4dc7-837e-ffd33a8832f0.png?v=1641386998" alt="">
    <img width="110" loading="lazy" height="110" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Made-for-India.png?v=1641469031">
    <img width="110" loading="lazy" height="110" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Dermatologically-Tested.png?v=1641386998" alt="">
    <img width="110" loading="lazy" height="110" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/FDA-Approved.png?v=1641386998" alt="">
            
  </div>
</div>
          <script>
          $('.pdp-iconz').slick({
  slidesToShow: 6,
  slidesToScroll:1,

            autoplay: true,
            responsive: [
    
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 4,

      }
    }
  ]
});
          </script> 


{% schema %}
  {
    "name": "Section name",
    "settings": [],
	"presets": [
        {
          "category": "Text",
          "name": "USP Slider"
          
          
        }
      ]
  }
{% endschema %}