
<style>
  
  
    .vidban {padding:30px 0px; }
    .vidban p{font-size:18px;}
  .vidban h1{
    font-size:50px;
    letter-spacing:1px;
  }
  
      .mediaobj{display:flex;flex-flow:wrap;align-items: center;margin-bottom: 30px;}
      .mediaobj img{width:30%;    padding-right: 30px;}
      .mediaobj .tedt{width:70%;color:#8322c8}
      .mediaobj h3{margin-bottom:5px;font-size:24px}
      .mediaobj p{margin-bottom:5px;font-size:18px}
    .career-wrapper {background:#fff}
.career-wrapper h2, .career-wrapper h1{font-size: 36px !important;font-weight: 500;margin-bottom: 30px;letter-spacing: 0px;line-height:1.2; }
  .career-wrapper h1{font-size: 38px !important;font-weight: 500;margin-bottom: 5px;letter-spacing: 0px;}
  .ideo{padding:30px 0}
  .ideo h2{margin-bottom:0}
  .ideo .col-md-4 {padding:20px}
  .ideo .col-md-4 img{box-shadow: 0 0 12px 0 #cccccc9e; }
  .apply{padding:30px 0 15px }
  .apply h2{font-size:36px;margin-bottom: 5px;}
  .apply h4{font-size:24px;}
  
  .jobcard {margin: 15px;padding: 20px;box-shadow: 0 0 12px 0 #cccccc8c;border-radius: 12px;}
  .jobcard h4{font-size: 24px;margin-bottom: 0;font-weight:600;}
  p.company {margin-bottom: 2px;}
  p.location {font-style: italic;font-weight: 300;}
  p.time {margin-bottom: 0;margin-top: 50px;}
  .apply .slick-next:before, .apply .slick-prev:before{color: #0d5ea8;font-size: 26px;}
  .jobslider{margin-bottom:10px!important}
  .testim{padding:30px 0}
  .testim .nt_se_testimonials{margin-bottom:0!important}
  .testim .quotes_des_2 .quote_slide{box-shadow: none;background: #f2e6fc;}
  .testim .quote_col{margin:70px 0 10px!important}
  .testim .quote_author{font-family:Recoleta-Black;color:#8322c8;font-size:20px}
  .testim .quote_content p{margin-bottom:5px;color:#8322c8;}
  .quote_avatar {width: 150px;height: 150px;margin-top: -100px;}
  .quote_rating{display:none}

  .newjoinee img{padding:0 30px}
  .foreplay{width:100%; max-width:800px; margin: 0 auto;text-align:center}
  .foreplay img{width:100%}
  .foreplay h4{font-size: 26px;font-weight: 500;margin-bottom: 30px;letter-spacing: 0px;line-height:1.2; color:#337AB7;margin-top: 30px;}
  .testc img{padding:0 30px}
  .job_liink img {width: 150px;}
  @media(max-width:480px){
    .row{display: flex;flex-flow: wrap;}
    .col-sm-6, .col-6{width:50%}
    .foreplay h4{font-size:20px}
    .newjoinee img {padding: 10px 10px;}
    .vidban iframe{height:220px}
    #shopify-section-careers .slick-next{right:4px;}
    #shopify-section-careers .slick-prev{left:0px;}
    
    .career-wrapper h2{
    font-size: 26px !important;
}
    .mediaobj h3 {
    margin-bottom: 0px;
    font-size: 21px;
}
    .ideo {
    padding: 30px 0px;
}

    .ideo .col-md-4 {padding: 10px;}
    
  }
  .ideo h2 {
    margin-bottom: 0;
    
    font-size: 34px;
    padding-bottom: 20px;
    font-weight:600;
}
  .ideo p {
    
    font-size: 18px;
}
  .mediaobj p {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    color: black;
}
  .content p {
    padding-bottom: 10px;
    margin: 0;
    color: #333;
    font-weight: 500;
}
  .mediaobj h3 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #337AB7;
}
  .mediaobj svg {
    width: 30%;
    padding-right: 30px;
    fill: #337AB7;
}
    </style>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-grid-only@1.0.0/bootstrap.css"> 
    <div class="career-wrapper">
      <div class="first-banner">
        <img id="desktop_banner" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/MainBanner_831b7473-2d46-49df-a080-982110a1a6fa.jpg?v=1661836165" width="100%">
        
      </div>
      <div class="Container">
        <div class="vidban">
          <h1>Why Bombay Shaving Company?</h1>
          <p>Our vision for people is as clear and authentic as the business. The endeavor at Bombay Shaving Company is to build an <i>'institution that outlasts us all'</i>. So if you have the right intrinsics: <i>if you have fire in the belly, gratitude in the heart and curiosity in the mind,</i> we will go above and beyond to create exceptional value for you - both professionally and personally.</p>
        </div>
        
        <div class="our-values">
          <div class="row">
            <div class="col-12">
              <h2>Everyone loved Perks, <br>Here's what makes us the best</h2>
            </div>
            <div class="col-md-6 col-12">
              <div class="mediaobj">
                <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Icons_0003_TimeOut.jpg?v=1661839843">
                <div class="tedt">
                  <h3>Timeout</h3>
                  <p>Time off every month when you're on your cycle</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="mediaobj">
                <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Icons_0002_education_reimbursement.jpg?v=1661839843">
                <div class="tedt">
                  <h3>Education reimbursement</h3>
                  <p>Polish your skills & learn everything you want (it's on us)</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="mediaobj">
                <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Icons_0001_Travel_Work.jpg?v=1661839845">
                <div class="tedt">
                  <h3>Travel and work</h3>
                  <p>Whenever you want to work from the mountains or beech, we're IN!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="mediaobj">
                <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Icons_0000_Parental_Leaves.jpg?v=1661839842">
                <div class="tedt">
                  <h3>Parental leaves</h3>
                  <p>We understand your need to be with your kids & we support you</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="mediaobj">
                <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Icons_0004_Medical-Insurance.jpg?v=1661839842">
                <div class="tedt">
                  <h3>Medical Insurance</h3>
                  <p>From covering all major medical expenses to offering additional benifits such as free health checkup, wellness programs, etc.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="mediaobj">
                <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Icons_0005_Kaha-Mind.jpg?v=1661839841">
                <div class="tedt">
                  <h3>Mental health and emotional wellness</h3>
                  <p>We believe that taking care of your mental health and wellness needs should be effortless.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="newjoinee">
          <div class="row">
            <div class="col-12">
              <h2>Bombay shaving Company is changing the game <br>with people, practices and policies</h2>
            </div>
            <div class="col-md-3 col-sm-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/NewJoinee_0003_Layer-2.png?v=1661842519"></div>
            <div class="col-md-3 col-sm-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/NewJoinee_0002_Layer-3.png?v=1661842519"></div>
            <div class="col-md-3 col-sm-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/NewJoinee_0000_Layer-5.png?v=1661842519"></div>
            <div class="col-md-3 col-sm-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/NewJoinee_0001_Layer-4.png?v=1661842519"></div>
          </div>
          <div class="foreplay">
            <h4><b>New Joinees</b><br> Making us wiser. better. stronger.</h4>
            <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Untitled1.jpg?v=1662027455">
         <h4><b>The Game Changer Initiative</b><br>
         from Metaverse to Local Pride, BSCians are going above and beyond to create impact beyond work.
         </h4>
            <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Untitled-1_df8660e1-8fa6-4896-8efd-816b6b99bd2e.jpg?v=1661843546">
            <h4><b>Creating Wealth</b><br>
         Wealth creation for employees is 'the most important' employee value proposition for us.
         </h4>
          </div>
        </div>
      {% section 'careers' %}  
               <div class="testim">
       <h2>More than a workplace <br>Welcome to a life place!</h2>
        {% section 'career-testimonials' %}   
     </div>
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/MLB.jpg?v=1661846945" width="100%">
        <div class="ideo">
            <div class="row">
                <div class="col-12">
                  <h2>WE’RE A <span style="color:#337AB7">‘MOST LOVED BRAND’</span> ONLY BECAUSE…</h2>
                  <p>There is absolutely no doubt in my mind that differentiation has moved beyond the proposition and purpose to a set of ‘Non-negotiable Core Values' that drive the brand towards the meaning it’s trying to bring to people's lives. Custodians of loved brands live and breathe these values everyday.” - Shantanu Deshpande, Founder & CEO, Bombay Shaving Company
</p>
                    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/MainBanner_1de8383c-2596-42b5-96ae-35b31f237c36.jpg?v=1661851151" alt="">
                </div>
                <div class="col-md-4 col-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Blocks_0000_New-Office_Glass-panels-02.jpg?v=1661851151" alt=""></div>
                <div class="col-md-4 col-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Blocks_0002_New-Office_Glass-panels-03.jpg?v=1661851152" alt=""></div>
                <div class="col-md-4 col-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Blocks_0003_New-Office_Glass-panels-05.jpg?v=1661851151" alt=""></div>
                <div class="col-md-4 col-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Blocks_0004_New-Office_Glass-panels-06.jpg?v=1661851151" alt=""></div>
                <div class="col-md-4 col-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Blocks_0005_New-Office_Glass-panels-07.jpg?v=1661851151" alt=""></div>
                <div class="col-md-4 col-6"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Blocks_0001_Layer_1_copy.jpg?v=1661851151" alt=""></div>
            </div>
        </div>
             
      </div>
    </div>
   



<script>
$(document).ready(function() {
  $(".setb > a").on("click", function(e) {
    e.preventDefault();
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this)
        .siblings(".content")
        .slideUp(200);
      $(".setb > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
    } else {
      $(".setb > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
      $(".setb > a").removeClass("active");
      $(this).addClass("active");
      $(".content").slideUp(200);
      $(this)
        .siblings(".content")
        .slideDown(200);
    }
  });
});

</script>


    