<!-- CSS STARTS HERE -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>
  @import "https://fonts.googleapis.com/css2?family=Bebas + Neue &family=Roboto:wght@300;400;500;700;900&display=swap";
.video-heroo-desktop video{max-width:100%;height:auto}
  .video-heroo-desktop{display:block}
  .video-heroo-MOBILE{display:none}
.paper-video-desktop{display:block}
.paper-video-desktop video{max-width:100%;height:auto}
.paper-video-mobile{display:none}
.main{overflow:hidden}
.section-seccond h2{font-family:Roboto;font-size:40px;color:#52B7D1;margin-bottom:0;font-weight:800}
.section-seccond{max-width:100%;width:1400px;margin:0 auto;padding:19px 30px;text-align:center}
.section-seccond h3{font-size:31px;font-family:roboto;font-weight:700;color:#494A4A;margin-top:-14px}
.section-seccond p{font-size:27px;font-family:roboto;font-weight:500;margin-top:-33px;color:#494A4A}
.section-forth p{font-size:23px;font-family:roboto;font-weight:400}
.section-fifth{max-width:100%;width:1400px;margin:0 auto;padding:19px 30px;padding-bottom:0;border-bottom:2px solid #ddd}
.section-fifth p{margin-bottom:0;font-size:20px;font-weight:500}
img.mobile{display:none}
.section-seventh{max-width:100%;}
.three-heading h2{font-family:'Roboto';font-size:40px;text-align:center;font-weight:800;color:#52b7d1}
.content h2{font-family:Roboto;font-size:21px;text-align:center;font-weight:600;margin-top:10px}
img.desktop{display:none}
.section-forth{max-width:100%;width:1400px;margin:0 auto;padding:19px 30px}
.section-forth h2{font-family:Roboto;font-size:40px;margin-bottom:0;color:#52b7d1;font-weight:800}
.product-range{max-width:100%;width:1400px;margin:0 auto;padding:19px 30px}
.flex-1{display:flex;justify-content:space-between;align-items:center;margin-bottom:30px;margin-top:20px}
.img-section{width:40%}
.img-section img{width:500px;height:500px;border-radius:30px;box-shadow:1px 3px 12px 0 #03ddfe69}
.content-section h2{font-family:'Roboto';font-size:60px;margin-bottom:0;}
.content-section{width:59%}
.row-rev{flex-direction:row-reverse}
.section-fifth h2{font-family:'Roboto';font-size:35px;margin-bottom:0;color:#52b7d1;font-weight:800}
.contents h3{font-family:'Roboto';font-size:19px;color:#222;line-height:21px}
h2.explor_razr{font-family:Roboto;margin-bottom:-30px;font-size:40px;color:#52b7d1;padding:19px 9px;font-weight:800;text-align:center;text-transform:uppercase}
.product-range p{font-size:25px;font-weight:700;font-family:'Roboto';text-align:center}
.section-sixth h2{font-size:40px;font-family:'Roboto';font-weight:800;text-align:center;color:#52b7d1;}
.section-seven h2{font-size:40px;font-family:'Roboto';font-weight:800;text-align:center;color:#52b7d1;}
 .section-seven{padding-top:20px}
  .section-eight{max-width:100%; margin:0 auto}
  .section-eight p {
    font-size: 25px;
    margin-bottom: 0;
    line-height: 33px;
    margin-top: -12px;
    font-weight: 500;
    text-align:center;
    margin-bottom:30px
}
  .section-eight h2 {
    font-size: 40px;
    font-weight: 700;
    color: #52b7d1;
    margin-bottom: 0;
    font-weight: 700;
    text-align:center;
      margin-top:15px
}
  a.Button.Button-primary.know-more {
    max-width: 100%;
    width: 300PX;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
@media(max-width:450px) {
.section-seccond{padding:19px 9px}
.three-heading h2{font-size:27px;line-height:34px;padding-bottom:20px}
.section-seccond h2{line-height:30px;font-size:27px}
.section-seccond h3{font-size:17px;padding-top:20px;font-weight:500}
.section-seccond p{font-size:19px}
.razr-block-main{margin-top:-49px}
.section-forth{margin-top:-40px;padding:19px 9px}
.section-forth h2{line-height:60px}
.section-fifth{padding:19px 9px;padding-bottom:0}
.section-fifth h2{line-height:30px;text-align:center; font-size:27px}
.content-section p {margin-top: 8px;}
.section-fifth p{text-align:center}
.flex-1{flex-direction:column}
.img-section{width:100%}
.product-range p{font-size:17px;font-weight:500}
.content-section{width:100%;padding-top:20px}
.content-section h2{padding:0}
.product-range{padding:19px 9px}
h2.explor_razr{font-size:30px;margin-top:-24px;line-height:38px;margin-bottom:-13px}
.contents h3{font-size:17px}
.paper-video-desktop{display:none}
.paper-video-mobile{display:block}
.paper-video-mobile video{display:block;max-width:100%;height:auto}
  .section-sixth h2 {font-size: 27px;padding: 0 10px;line-height: 32px;padding-top: 20px;}
.img-section img{height:auto}
  .video-heroo-desktop{display:none}
  .video-heroo-MOBILE{display:block}
  .video-heroo-MOBILE video{max-width:100%; height:auto}
  .section-seven h2{font-size:27px;font-family:'Roboto';font-weight:800;text-align:center; padding:0 10px;line-height:30px;color:#52b7d1;}
  .video-heroo-desktop video{display:none}
  .section-eight p {
    font-size: 17px;
    text-align:center;
    padding-bottom:10px;
    margin-bottom:0
}
  .section-eight h2 {
    font-size: 30px;
    text-align:center;
    line-height:35px;
    padding:15px 0;
    margin-top:0
}
}
</style>
<!-- CSS ENDS HERE -->



<!-- HTML STARTS HERE -->
<div class="main">
  <div class="video-heroo-desktop">
    <video width="1920" height="100%" autoplay loop muted controls webkit-playsinline playsinline>
      <source src="https://cdn.shopify.com/videos/c/o/v/ea1eaaefd30d416c877653579d20b297.mp4" type="video/mp4">
    </video>
  </div>
  <div class="video-heroo-MOBILE">
    <video width="1920" height="100%" autoplay loop muted controls webkit-playsinline playsinline>
      <source src="https://cdn.shopify.com/videos/c/o/v/25b1ad1bc67047dc8833d1e43663547b.mp4" type="video/mp4">
    </video>
  </div>
  <div class="section-seccond">
    <h2 data-aos="fade-up">INDIA’S NEW SENSITIVE ON SKIN RAZORS</h2>
    <h3 data-aos="fade-up">Coz even shaving deserves some skin loving</h3>
    <a id="go-downn" class="Button Button-primary" data-aos="fade-up">Get Started</a>
  </div>
  <div class="hero-banner">
    {% section 'slideshow' %}
  </div>
  <div class="product-range">
    <h2 class="explor_razr">2..3..4..6..Pick A Razor that Clicks</h2>
    <p class="explor_razr_para">Wide range of ready shavers and system razors for delightful shaves</p>
    <div class="aos-fade" data-aos="fade-up">{% section 'razr-prod-block' %}</div>
  </div>
  <div class="section-fifth">
    <h2 data-aos="fade-left" style="text-align:center">WHAT MAKES SENSI, SENSATIONAL</h2>
    <div class="flex-1">
      <div class="img-section" data-aos="fade-right"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Flo6___Lubri_Strip_1.gif?v=1690960594" alt="flexi"></div>
      <div class="content-section" data-aos="fade-left">
        <h2>TRIPLE ACTION LUBRICATING STRIP
        </h2>
        <p>Moisturising Argan Oil, along with Aloe and Vitamin E</p>
      </div>
    </div>
    <div class="flex-1 row-rev">
      <div class="img-section" data-aos="fade-left"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Flo_4___Blades___op1.gif?v=1690960526" alt="sensiflo 4"></div>
      <div class="content-section" data-aos="fade-right">
        <h2>NOT LINEAR. BUT CURVED BLADES</h2>
        <p>A small innovation to make a big difference. Makes the razor glide oh so smooth!</p>
      </div>
    </div>
    <div class="flex-1">
      <div class="img-section" data-aos="fade-right"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Smart3___Flexi_Head.gif?v=1690960399" alt="flexi"></div>
      <div class="content-section" data-aos="fade-left">
        <h2>PIVOTING HEAD</h2>
        <p>Distributes the pressure of the razor on the skin evenly for max comfort</p>
      </div>
    </div>
  </div>
  <!-- <div class="section-sixth">
    <h2>TEST OUR RAZOR ON PAPER. SEE THE GOODNESS ON SKIN. </h2>
    <div class="paper-video-desktop">
      <video autoplay loop muted controls webkit-playsinline playsinline>
        <source src="https://cdn.shopify.com/videos/c/o/v/7f7e6dc5d68647948b76e7f966673151.mp4" type="video/mp4">
      </video>
    </div>
    <div class="paper-video-mobile">
      <video autoplay loop muted controls webkit-playsinline playsinline>
        <source src="https://cdn.shopify.com/videos/c/o/v/186135574f5d48d89fc8a08a5ad1505d.mp4" type="video/mp4">
      </video>
    </div>
  </div> -->
  <div class="section-eight" id="section-8">
    <h2>TRY THE RAZOR SHARPENER</h2>
    <p>Neat hack to make razor blades last upto 30% longer.  Shave more! Save more!</p>
    <div class="paper-video-desktop">
      <video autoplay loop muted controls webkit-playsinline playsinline>
        <source src="https://cdn.shopify.com/videos/c/o/v/641f44fb852446eea41b6eb20d36338a.mp4" type="video/mp4">
      </video>
    </div>
    <div class="paper-video-mobile">
      <video autoplay loop muted controls webkit-playsinline playsinline>
        <source src="https://cdn.shopify.com/videos/c/o/v/8635c482cb1e4ce5ab59589300782cfb.mp4" type="video/mp4">
      </video>
    </div>
    <a href="https://bombayshavingcompany.com/products/razor-sharpener" class="Button Button-primary know-more">Know More</a>
  </div>
  <div class="section-seven">
    <h2>SKIN IS IN. AND SO IS SENSI</h2>
    {% section 'Razr-Testimonials' %}
  </div>
  <div class="seo-8">
  {% render 'seo-content-category' %}</div>
</div>
</div>
<!-- HTML ENDS HERE -->



<!-- JS STARTS HERE -->
<script aync src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
  $(".section-sixth").click(function() {
    window.scrollTo({top: 850, behavior: 'smooth'});
});
</script>
<script>
$('#go-downn').click(function() {
    window.scrollTo({top: 850, behavior: 'smooth'});
});
</script>
<!-- JS ENDS HERE -->
