<style>
  @import url('@import "https://fonts.googleapis.com/css2?family=Bebas + Neue &family=Roboto:wght@300;400;500;700;900&display=swap";');
  div#cntl-placeholder-form-fixed-item {
    display: none !important;
  }
  button.send-btn.otp-btn {
    background: #00BED6!important;
    padding: 12px!important;
    font-family: Roboto,sans-serif;
    font-size: 17px!important;
    text-transform: uppercase;
}
  .desktop-banner {
    display: block;
  }
  .mobile-banner {
    display: none;
    max-width: 100%;
  }
  .rzp-section-1 {
    font-family: Roboto, sans-serif;
    font-weight: 800
  }
  .about-rzp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .rzp-section-1 h2 {
    font-size: 64px;
    line-height: 1.7;
  }
  .steps {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-top: 21px;
    flex-direction: row;
    justify-content: space-between;
  }
  .rzp-section-1 {
    width: 40%
  }
  .rzp-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 22px;
  }
    a.rzp-button {
    width: 164px;
    padding: 7px 22px;
    text-align: center;
    border: 1px solid #ffff;
    border-radius: 30px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 500;
    transition: 0.4s;
    display: block;
    color: #fff;
}
.s5-section p {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: Roboto,sans-serif;
}
  a.rzp-button:hover {
    background-color: #fdc818;
    color: #3180c2
  }
  .section-3 {
    padding: 20px 0;
  }
  .s3-heading {
    display: block;
    padding-bottom: 35px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 20px;
  }
  .s4-heading {
    padding: 20px 0
  }
  .s4-slide {
    padding-bottom: 20px
  }
  .s4-heading h2 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
  }
  .section-4 {
    background-color: #fdc818
  }
  span.rzp-head {
    font-size: 48px;
  }
  .s3-slide {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    min-height: 720px;
  }
  .s4-main-section {
    display: block;
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    background-color: #ffecae;
    border-radius: 30px;
    box-shadow: 2px 3px 1px #000;
  }
  .s4-slide {
    font-size: 19px;
    text-align: center;
    line-height: 22px;
    padding: 25px 15px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  .zp {
    position: relative;
    margin: 48px 5px 13px;
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0 #00000059;
  }
  .rzp-4 {
    max-width: 100%;
    width: 1350px;
    margin: 0 auto;
  }
  .imgg {
    max-width: 100%;
    display: block;
    position: relative;
  }
  .imgg h2 {
    text-align: center;
    position: relative;
  }
  .imgg img {
    margin: -49px auto 0;
  }
  .slider-cont {
    padding: 24px 11px;
    font-family: Roboto, sans-serif;
    min-height: 174px;
    margin-top: -26px;
  }
  .s4-slide h3 {
    font-style: normal
  }
  img.arrow {
    position: absolute;
    top: 70px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
  }
  img.arrow:hover {
    transform: scale(1.1)
  }
  .left {
    left: 200px;
  }
  .right {
    right: 200px;
  }
  .s4-main {
    padding-bottom: 15px;
    position: relative
  }
  .s3-slide video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 3px 1px 8px 0 #007364;
  }
  .rzp-logo-secction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00BED6;
    padding: 38px 0;
    flex-direction: row;
  }
  .rzp-logo {
    width: 37%;
  }
  .content-rzp {
    width: 46%;
  }
  .s3-slide {
    margin-right: 39px;
  }
  .content-rzp h2 {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 11px;
  }
  .content-rzp p {
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 32px;
  }
  .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .login {
    width: 40%;
  }

  .login h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
  .s5-section h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 44px;
    padding-top: 35px;
    margin-bottom: 0;
  }
  .s5-section {
    max-width: 100%;
    background: #000;
  }
  select#dropdown {
    margin-top: 12px;
  }
  .atc-rzp {
    display: flex;
    background-image: url('https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Group_36_1.png?v=1692255323');
    max-width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-around;
  }
  span.text-2 {
    position: absolute;
    top: 36%;
    left: 27%;
    font-size: 20px;
    font-weight: 400;
  }
  button#ad_to_cart\ rzp-abs {
    position: absolute;
    bottom: 91px;
    max-width: 100%;
    width: 200px;
    right: 43%;
    background: #00bed6;
    border-radius: 30px;
    padding: 11px;
    transition: 0.4s;
  }
  a.rzp-button.apply-now.setps {
    margin: 0 auto;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #07ddff;
}
.rzp-slider-5 {
    margin-top: -10px;
}
.rzp-4 {
    background-color: #b0e9ee;
    margin-top: 21px;
    padding-bottom: 19px;
}
  button#ad_to_cart\ rzp-abs:hover {
    background: #1b62c9 !important;
  }
  h2.text-3 {
    font-size: 41px;
    position: absolute;
    top: 40%;
    left: 27%;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }
  span.text-4 {
    position: absolute;
    top: 53%;
    right: 36%;
    font-size: 20px;
  }
  .img-razor {
    max-width: 100%;
    width: 30%;
  }
  .content-razor {
    max-width: 100%;
    width: 50%;
    position: relative;
  }
  p.text-1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    line-height: 25px;
    position: absolute;
    top: 30px;
    right: 186px;
    text-transform: uppercase;
  }
  .Form__Item input {
    border-radius: 30px;
    border: 1px solid #000;}
    select#dropdown {
    border-radius: 30px;
    border: 1px solid #000;
}
  span.text-1-2x {
    font-size: 22px;
    font-weight: 600;
  }
  .rzp-4 {
    text-align: center;
    max-width: 100%;
  }
  .rzp-4 h2 {
    font-size: 25px;
    font-family: roboto, sans-serif;
    font-size: 25px;
    font-family: roboto, sans-serif;
    margin-bottom: 0;
    padding: 9px 0;
    font-weight: 600;
    text-transform: uppercase;
  }
  .rzp-slider-child-1 {
    background-color: #EDE532;
  }
  .rzp-slider-child-2 {
    background-color: #00BED6;
  }
  .rzp-slider-child-3 {
    background-color: #66DC7A;
  }
  .stepss h2 {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    padding-top: 18px;
  }
  .slider-cont h2 {
    font-size: 16px;
    text-transform: none;
    letter-spacing: -0.5px;
    line-height: 21px;
  }
  .slider-cont ul li {
    text-align: center;
    font-size: 13px;
}
  .css-only-prod {
    display: flex;
    justify-content: center;
    background: #000
  }
  .main-prod h2 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .main-prod p {
    padding-top: 13px;
    font-size: 15px;
    font-weight: 500;
  }
  .main-prod-section {
    background-color: #000;
    font-family: roboto, sans-serif;
  }
  .main-prod {
    text-align: center;
    color: #fff;
  }
  .prod-1 {
    max-width: 100%;
    margin: 16px 18px 30px;
    border-radius: 10px;
  }
  .prod-metaa {
    max-width: 100%;
    width: 400px;
    text-align: center;
    padding-top: 15px;
  }
  h2.prod-name {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  p.pack {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: -9px;
    font-size: 17px;
    font-weight: 400;
    position: relative;
  }
  h2.cust-off {
    font-size: 18px;
    font-weight: 500;
    position: relative;
  }
  h2.cust-off::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 2px;
    background: red;
    top: 14px;
    right: 34.5%;
    transform: rotate(347deg);
  }
  h2.mrp {
    font-size: 24px;
    font-weight: 800;
    margin-top: -19px;
  }
  h2.per-razor {
    padding: 8px 5px;
    border-radius: 3px;
    font-size: 18px;
    width: 285px;
    text-align: center;
    margin: 0 auto 26px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    margin-top:-12px;
  }
  prod-img img {
    padding-bottom: 21px;
}
  p.pack::after {
    left: 21%;
    position: absolute;
    content: "";
    width: 193px;
    height: 1px;
    background-color: #000;
    top: 35px;
  }
  .prod-img h2 {
    text-align: center;
  }
  .mobile-steps {
    display: none;
}
  @media(max-width:450px) {
    .rzp-logo img {
    width: 247px;
}
.back{min-height: 532px!important;}
    .prod-img {
    padding-bottom: 19px;
}
    .css-only-prod {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-padding: 10px;
      width: 100%;
      transition: 0.4s;
    }
    .prod-1 {
      flex: 80% 0 0;
      scroll-snap-align: start;
      margin: 10px 10px 20px;
    }
    .desktop-banner {
      display: none;
    }
    .dekstop-steps {
      display: none;
    }
    .mobile-steps {
      display: block;
      padding-top: 30px;
    }
    .prod-metaa {
      width: 317px
    }
    .mobile-banner {
      display: block;
    }
    .s3-slide {
      margin: 0 12px;
      min-height: 543px
    }
    .login {
      width: 100%
    }
    .mobile-steps{display: block;}
    .login h2 {
      padding: 0 10px;
      font-size: 18px;
      line-height: 23px;
    }
    .rzp-logo-secction {
      flex-direction: column;
    }
    .rzp-logo {
      width: 100%;
    }
    .content-rzp {
      width: 100%;
    }
    .rzp-logo h2 {
      padding: 0 11px;
      text-align: center;
    }
    .s3-slide {
      margin-right: 0;
    }
    .content-rzp h2 {
      font-size: 30px;
      text-align: center;
      padding-top: 20px;
    }
    .content-rzp p {
    font-size: 15px;
    padding: 0 37px;
    line-height: 19px;
    font-weight: 500;
    text-align: center;
    color: #000;
    margin-top: 19px;
    margin-bottom: -11px;
    }
    .s3-heading {
      font-size: 23px;
    }
  }
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 500px;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    backface-visibility: hidden;
  }

  .back {
    background: #fff;
    color: #000;
    transform: rotateY(180deg);
    min-height: 702px;
    border: 1px solid #000

  }
  .back p {
    position: absolute;
    top: 200px;
    font-family: Roboto, sans-serif;
    padding: 0 10px;
    line-height: 24px;
  }
  .front img {
    border-radius: 10px;
    box-shadow: 3px 1px 8px 0 #007364;
  }
  .yellow {
    background-color: #FFD26B
  }
  .green {
    background-color: #B2FFBF
  }
  .blue {
    background-color: #70F3FF
  }
  .yelloww {
    background-color: #EDAE20
  }
  .bluee {
    background-color: #00B7C8
  }
  .greenn {
    background-color: #2EB445
  }
  button#ad_to_cart\ rzp {
    width: 230px;
    padding: 15px;
    border-radius: 47px;
    margin: 0 auto 24px;
    background: transparent;
    border: 1px solid #ffff;
  }
</style>
<div class="hero-video">
  <div class="desktop-banner"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Web-Banner_2_5f4e2f7d-c352-4cce-aef3-85afacf52d45.jpg?v=1692348571" style="width: 100%;height:auto"></div>
  <div class="mobile-banner"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Banner_d397ccee-681f-4b16-b6e0-bcc4f1b08d98.png?v=1692334774" style="width: 100%;height:auto"></div>
</div>
<div class="section-2" id="section-2">
  <div class="login razorpreneur">
    <h2>Join India’s biggest<br>entrepreneurship challenge</h2>
    {% comment %}
    {% render 'custom-razorpreneur-form' %}
    {% endcomment %}
    {% section 'otp-login' %}
    <script>
      window.simplyOtp.settings.pageUrl = location.href + "#razor=page";
    </script>
  </div>
</div>
<div
  class="main-prod-section"
  id="show-jq"
  {% if customer %}

  {% else %}
  style="display:none"
  {% endif %}>
  <div class="main-prod">
    <p>SIGN UP COMPLETE!</p>
    <h2>You're just a step away<br> FROM BECOMING A RAZORPRENEUR</h2>
  </div>
  <div class="css-only-prod">
    <div class="prod-1-main">
      <div class="prod-1 green">
        <div class="prod-metaa">
          <h2 class="prod-name">Rookie</h2>
          <p class="pack">Pack of 10</p>
          <h2 class="cust-off">You Pay 990</h2>
          <h2 class="mrp">₹792</h2>
          <h2 class="per-razor greenn">Your Margin: <span class="rupee">₹</span>20 /Razor</h2>
        </div>
        <div class="prod-img">
          <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Sensi-Smart-3_1_1.png?v=1692293136" style="width:250px"></h2>
        </div>
      </div>
      <div class="button-prod">
        <button
          type="submit"
          name="add"
          aria-label="Add to cart"
          class="ad_to_cart_coll Button Button--primary rzp-button"
          id="ad_to_cart rzp"
          aria-haspopup="dialog"
          data-add-to-cart="43827998621850"
          data-var_id="43827998621850"
          data-action="open-drawer"
          data-drawer-id="sidebar-cart">
          <span>Buy Now</span>
        </button>
      </div>
    </div>
    <div class="prod-1-main">
      <div class="prod-1 yellow">
        <div class="prod-metaa">
          <h2 class="prod-name">Stud</h2>
          <p class="pack ">Pack of 20</p>
          <h2 class="cust-off">You Pay 1980</h2>
          <h2 class="mrp">₹1386</h2>
          <h2 class="per-razor yelloww">Your Margin: <span class="rupee">₹</span>30 /Razor</h2>
        </div>
        <div class="prod-img">
          <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Sensi-Smart-3_1_1.png?v=1692293136" style="width:250px"></h2>
        </div>
      </div>
      <div class="button-prod">
        <button
          type="submit"
          name="add"
          aria-label="Add to cart"
          class="ad_to_cart_coll Button Button--primary rzp-button"
          id="ad_to_cart rzp"
          aria-haspopup="dialog"
          data-add-to-cart="43832952422554"
          data-var_id="43832952422554"
          data-action="open-drawer"
          data-drawer-id="sidebar-cart">
          <span>Buy Now</span>
        </button>
      </div>
    </div>

    <div class="prod-1-main">
      <div class="prod-1 blue">
        <div class="prod-metaa">
          <h2 class="prod-name">PRO</h2>
          <p class="pack">Pack of 30</p>
          <h2 class="cust-off">You Pay 2970</h2>
          <h2 class="mrp">₹1871</h2>
          <h2 class="per-razor bluee">Your Margin: <span class="rupee">₹</span>37/Razor</h2>
        </div>
        <div class="prod-img">
          <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Sensi-Smart-3_1_1.png?v=1692293136" style="width:250px"></h2>
        </div>
      </div>
      <div class="button-prod">
        <button
          type="submit"
          name="add"
          aria-label="Add to cart"
          class="ad_to_cart_coll Button Button--primary rzp-button"
          id="ad_to_cart rzp"
          aria-haspopup="dialog"
          data-add-to-cart="43832953929882"
          data-var_id="43832953929882"
          data-action="open-drawer"
          data-drawer-id="sidebar-cart">
          <span>Buy Now</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="rzp-logo-secction">
  <div class="rzp-logo">
    <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/RP_Logo.png?v=1691732862"></h2>
  </div>
  <div class="content-rzp">
    <p>The Razorpreneur Challenge is to enable you to sharpen your selling skills through amazing mentorship, so you can up your selling game in the real world.</p>
  </div>
</div>
<div class="stepss">
  <h2>what do you have to do?</h2>
  <div class="dekstop-steps">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Desktop_RazorPreneur_Steps_1.jpg?v=1692359554" style="width:100%; height:auto">
  </div>
  <div class="mobile-steps">
    <a href="https://bombayshavingcompany.com/pages/razorpreneur#show-jq"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/RazorPreneur_Steps_Final_1.jpg?v=1692359809" style="width:100%;height:auto"></a>
  </div>
  <a href="https://bombayshavingcompany.com/pages/razorpreneur#section-2" class="rzp-button apply-now setps" id="apply-now" style="display:block">Sign up</a>
</div>
<div class="rzp-4">
  <h2>the big rewards<sup>*</sup></h2>
  <div class="rzp-slider-5">
    <div class="rzp-slider-child-2 zp">
      <div class="imgg">
        <h2>
          <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/image_1_1.png?v=1692264812" style="width:100px; height:auto"></h2>
      </div>
      <div class="slider-cont">
        <h2>TOP 10 TO FEATURE ON <br>THE BARBERSHOP WITH SHANTANU</h2>
        <ul>
          <li>Guaranteed seed funding of up to ₹20 lakhs</li>
          <li>Chance to pitch for additional ₹1 crore funding</li>
        </ul>
      </div>
    </div>
    <div class="rzp-slider-child-3 zp">
      <div class="imgg">
        <h2>
          <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Group_40.png?v=1692264812" style="width:100px; height:auto"></h2>
      </div>
      <div class="slider-cont">
        <h2>AWESOME CASH REWARDS</h2>
        <ul>
          <li>₹2 lakhs for the top Razorpreneur</li>
          <li>₹1 lakh each across multiple categories</li>
        </ul>
      </div>
    </div>
    <div class="rzp-slider-child-1 zp">
      <div class="imgg">
        <h2>
          <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Group_38_1.png?v=1692264812" style="width:100px; height:auto"></h2>
      </div>
      <div class="slider-cont">
        <h2>MENTORSHIP <br>FROM TOP CEOs</h2>
          <ul>
            <li>Exclusive one-on-one mentorship</li>
            <li>Internship at Bombay Shaving Company</li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="section-3">
  <div class="s3-heading">
    <h2>why be a razorpreneur?</h2>
  </div>
  <div class="s3-main">
    <div class="s3-slider">
      <div class="s3-slide s3-slide-1">
        <div class="card">
          <div class="content">
            <div class="front">
              <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Tanmay_Bhatt___Thumbnail.png?v=1692280343">
            </div>
            <div class="back">
              <p>"The trick to selling is to slide into it slowly. Never seem desperate. Create a vibe where you earn the prospect's trust. Participating in Razorpreneur will help you learn this skill and a lot more. "
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s3-slide s3-slide-2">
        <div class="card">
          <div class="content">
            <div class="front">
              <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Vani___Thumbnail.png?v=1692280344">
            </div>
            <div class="back">
              <p>"All of us will need to sell in some form or the other. And when the product is great, like these Sensi Smart 3 razors then selling becomes a breeze. So hop on and enjoy the ride!"
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s3-slide s3-slide-3">
        <div class="card">
          <div class="content">
            <div class="front">
              <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Vivek_Gambhir___Thumbnail.png?v=1692280343">
            </div>
            <div class="back">
              <p>"This is an amazing platform for you to be able to showcase your selling skills. Take advantage of this platform, get a lot of rewards and learn a lot from the process."
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s3-slide s3-slide-4">
        <div class="card">
          <div class="content">
            <div class="front">
              <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Rohit_Kapoor___Thumbnail.png?v=1692280344">
            </div>
            <div class="back">
              <p>"It’s an opportunity to demonstrate your selling ability and convince people about your idea. The experience will last you a lifetime."
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s3-slide s3-slide-5">
        <div class="card">
          <div class="content">
            <div class="front">
              <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Arjun___Thumbnail.png?v=1692280343">
            </div>
            <div class="back">
              <p>"It’s a great opportunity to test out your skills and do something in the real world because there’s only one real way to learn - by doing it!"
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="s3-slide s3-slide-6">
        <div class="card">
          <div class="content">
            <div class="front">
              <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Shantanu_Khosla___Thumbnail.png?v=1692280344">
            </div>
            <div class="back">
              <p>"You’ll learn lessons, which you can learn no other way and will stand you in good stead in whatever facet of life you move on in."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} <div class="section-4">
<div class="s4-heading">
<h2>What Makes You a<br><span class="rzp-head">Razorpreneur ?</span>
</h2>
</div>
<div class="s4-main">
<div class="s4-main-section">
<div class="s4-slider">
<div class="s4-slide s4-slide-1">
<p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
<h3>Loren Ipsum Dolor</h3>
</div>
<div class="s4-slide s4-slide-2">
<p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
<h3>Loren Ipsum Dolor</h3>
</div>
<div class="s4-slide s4-slide-3">
<p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
<h3>Loren Ipsum Dolor</h3>
</div>
<div class="s4-slide s4-slide-4">
<p>"Lorem ipsum dolor sit amet consectetur adipiscing elit metus class vivamus fringilla varius gravida bibendum, vehicula lobortis pulvinar turpis praesent porta mi etiam dapibus cum facilisi sed torquent. Proin nibh montes auctor pretium commodo turpis vehicula habitasse consequat quis"</p>
<h3>Loren Ipsum Dolor</h3>
</div>
</div>
</div>
<img
src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/left-arrow-rzp.png"
class="arrow left"
width="120px"
height="120px">
<img
src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/right-arrow-rzp.png"
class="arrow right"
width="120px"
height="120px">
</div>
</div> {% endcomment %}{% comment %} <div class="section-5">
<div class="s5-marquee">
{% section 'rzp-marqeee' %}
</div>
<div class="s5-flex">
<div class="s5-left-section">
<h2>Lorem ipsum dolor sit amet consectetur</h2>
</div>
</div>
</div>
</div> {% endcomment %} <div class="s5-section">
  <h2>Ready to be a<br><span class="razp-name">Razorpreneur</span></h2>
  <p>Take the plunge</p>
  <div class="rzp-buttons">
  <a href="/pages/razorpreneur-faq" class="rzp-button learn-more">Learn More</a>
  <a href="https://bombayshavingcompany.com/pages/razorpreneur#section-2" class="rzp-button apply-now" id="appply-now" style="display:block">Sign up</a>
  </div>
  <script>
$('.s3-slider').slick({
  centerMode: true,
  centerPadding: '50px',
  arrows: false,
  infinite: true,
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    }, {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
$('.s4-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: false,
  autoplaySpeed: 2000,
  arrows: true,
  dots: true,
  prevArrow: $('.left'),
  nextArrow: $('.right')
});
$('.rzp-slider-5').slick({
  centerMode: true,
  arrows: false,
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }, {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '30px',
        slidesToShow: 1
      }
    }
  ]
});
</script>
  <script>
    var email = localStorage.getItem("userEmail");
    var mobile = localStorage.getItem("userPhone");
const submitButton = document.getElementById("rzp-button");
const hiddenSection = document.getElementById("show-jq");
const emailField = document.getElementById("email-id");
const formFeilds = document.getElementById("section-2");
const applyNow1 = document.getElementById("apply-now");
const applyNow2 = document.getElementById("appply-now");

submitButton.addEventListener("click", function(event) {
  if (emailField.value !== "")
    localStorage.setItem("formSubmitted", "true");
    console.log(email);
    location.reload();
});

// Check if the page was reloaded due to form submission
if (localStorage.getItem("formSubmitted") === "true") {
  hiddenSection.style.display = "block";
  formFeilds.style.display = "none";
  applyNow1.style.display = "none";
  applyNow2.style.display = "none";


}
</script>
