<style>
  .accordian-main.rzp {
    background: #00bed6;
    padding: 5px;
  }
  .set.rzp {
    position: relative;
    max-width: 100%;
    width: 900px;
    height: auto;
    background-color: #00bed6;
    margin: 20px auto;
    border-bottom: 2px solid #ddd;
    overflow: hidden;
  }
  .set.rzp > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear
  }
  h2.login-heading {
    text-align: center;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .set.rzp > a i {
    float: right;
    margin-top: 2px;
    position: relative
  }
  .set.rzp > a.active {
    background-color: #00bed6;
    color: #fff
  }
  .set.rzp > a p {
    margin-bottom: 0
  }
  .set.rzp > a i::before {
    position: absolute;
    content: "+";
    font-weight: 800;
    font-size: 22px;
    top: -10px;
    right: 0;
  }
  .set.rzp > a.active i::before {
    content: "-";
  }
  .content.cust li {
    padding: 10px;
  }
  .content.cust {
    background-color: #00bed6;
    display: none;
    padding: 5px 0 10px 15px;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .login-container {
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
  }
  .content.cust p {
    padding: 10px 15px;
    margin: 0;
    color: #fff;
    font-weight: 500;
  }
  .mobilebanner video {
    display: none;
  }
  .mobilebanner {
    max-width: 100%;
  }
  .desktopvideo {
    max-width: 100%;
  }
  .desktopvideo video {
    max-width: 100%;
    display: block;
  }
  @media(max-width:500px) {
    .set.rzp a {
      font-size: 16px;
    }
    .desktopvideo video {
      display: none;
    }
    .mobilebanner video {
      display: block;
      max-width: 100%;
    }
    .set.rzp {
      margin: 9px auto;
    }
    .content.cust {
      font-size: 15px;
    }
  }
</style>
<div class="banner-section">
  <div class="desktopvideo">
    <video
      controls
      autoplay
      loop
      playsinline
      muted>
      <source src="https://cdn.shopify.com/videos/c/o/v/d4f366eee67d4dc5becb5abeb4032843.mp4" type="video/mp4">
    </video>
  </div>
  <div class="mobilebanner">
    <video
      controls
      autoplay
      loop
      playsinline
      muted>
      <source src="https://cdn.shopify.com/videos/c/o/v/63f8c7df83654af49d9a29b6dced4c13.mp4" type="video/mp4">
    </video>
  </div>
</div>
<div class="accordian-main rzp">
  <div class="set rzp">
    <a href="#" class="active">
      What is Razorpreneur?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust" style="display:block">
      Bombay Shaving Company's Razorpreneur is India's largest live entrepreneurship challenge  to test, hone and build Young India’s selling skills through ‘sell me a razor’ contest.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      What will I be doing as a Razorpreneur?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      As a Razorpreneur, your primary goal is to sell razors in your own unique way. There are no limits set for you - the Razorpreneurs who sell the maximum number of razors during the competition period in their own creative way, will get to present their journey in the finale to become India's Top Razorpreneur.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      What is the duration of the Razorpreneur Challenge?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      Registrations for the challenge will start from 18th August 2023 and the competition begins from 1st September 2023
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      Are there any prerequisites to participate in the competition?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      No, anyone can be a Razorpreneur as long as you are 18 years old or above and have the passion for entrepreneurship and enthusiasm to succeed.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      What will I get from this challenge?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      The challenge is designed to hone and develop your selling skills. As a razorpreneur you get the chance to showcase your talent at a national level on The Barbershop with Shantanu.
      <ul>
        <li>Top 10 Razorpreneurs get featured on the finale episode and pitch their journey to the Razorgurus</li>
        <li>India's Top Razorprenuer wins the grand prize of INR 2 lakhs</li>
        <li>Guaranteed seed capital for the Top 10 Razorpreneurs worth INR 2 lakhs each</li>
        <li>Chance to get a wild card entry to Raiser's Edge and pitch for additional capital of  INR 1 Crore </li>
      </ul>
      There are other categories of Razorpreneurs who can win cash prizes of  INR 1 Lakh. These will be intimated periodically through the social media channels of Bombay Shaving Company and The Barbershop With Shantanu. So don't forget to follow us and stay tuned!
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      What should I do if I encounter any issues while signing up or placing an order?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      If you  experience any issues while signing-up or during purchase, reach out to us at <a href="mailto:razorpreneur@bombayshavingcompany.com<">razorpreneur@bombayshavingcompany.com</a>
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      Is there a limit on the number of razors that I can buy?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      No, you set the limit for yourself. You can sell as many razors as you can. To start as a Razorpreneur, you will need to purchase the Rookie package of 10 Sensi Smart3 Razors. You can also purchase the Stud or Pro packages. Keep coming back and refilling your stock to improve your chances of winning.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      What sets Sensi Smart3 Razors apart from other razors on the market?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      Our razors are specially designed to be Sensitive on Skin. To know more about our razors, you can visit our <a href="/pages/razorpreneur">website</a>
      Razorpreneurs will be provided with support material to prepare to their best for the challenge.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      What is the campus program and rewards for colleges?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      Colleges with the best performing Razorpreneurs get INR 1 lakh funding for their respective E-Cells. Top Razorpreneurs from select colleges get the opportunity to be an Intern at Bombay Shaving Company.
      The campus program is open to select list of colleges only at the moment. If your campus would like to be included in the same, please reach out to us with an expression of interest on razorpreneur@bombayshavingcompany.com
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      I don't know anything about Razors, how can I prepare for the challenge?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      Our team at Bombay Shaving Company will provide you with guidance and support to help you maximize your selling potential.
It's not just about selling one particular product but learning the art of selling through this challenge in the real world. We believe that everyone has the potential to become an entreprenuer with the right tools. The competition is tailored to provide this opportunity to you and to let you be as creative with selling as you want.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      Is there a limit on the price on which I can sell the razors?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      Yes. The price is mentioned on each box of razor and the consumer should pay accordinlgy. Where can I get the relevant information about the razor products?	"All relevant information will be available to Razorpreneurs on the dashboard. For any further queries you can reach out to us at razorpreneur@bombayshacingcompany.com"
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      How can I track my order?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      You will be given a tracking link once your order is dispatched to view the status of the same.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      How can I track my performance?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      All relevant information will be available to Razorpreneurs on their dashboard page which will be active once the competition commences.
      For any further queries you can reach out to us at razorpreneur@bombayshavingcompany.com.
Do note that this leaderboard is just a reflection of your total sales. You will be also evaluated on the uniqueness and innovation in the way you are selling to become India's top Razorpreneur
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      Can I return unsold orders back to Bombay Shaving Company?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      We do not accept returns for unsold stock. However, our team can provide guidance and support to help you maximize your selling potential.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      Can I sell razors to women?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      Absolutely. There’s no restriction on the gender of the buyer.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      How many razors do I have to sell to WIN this?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      The simple criterion to win the Razorpreneur challenge is selling the maximum razors. There’s no number that you have to chase, but constantly look for opportunities to take your number higher. You never know when and where you hit the sweet spot. Additionally, keep checking the leaderboard from 1st September to see the LIVE tally of how others are performing, so that you can improve your game.
    </div>
  </div>
  <div class="set rzp">
    <a href="#">
      Will I have to pay for my travel for the finale?
      <i class="fa-minus"></i>
    </a>
    <div class="content cust">
      If you’re among the Top 10 Razorpreneurs, we’ll arrange for your travel free of cost to the finale episode that’ll be shot in NCR.
    </div>
  </div>
</div>
<div class="login-form">
  <h2 class="login-heading">Apply Now to India’s biggest<br>entrepreneurship challenge</h2>
  <div class="login-container">{% render 'custom-razorpreneur-form' %}</div>
</div>
<script>
  $(document).ready(function() {
    $(".set > a").on("click", function(e) {
      e.preventDefault();
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
        $(this).siblings(".content").slideUp(200);
        $(".set > a i").removeClass("fa-minus").addClass("fa-plus");
      } else {
        $(".set > a i").removeClass("fa-minus").addClass("fa-plus");
        $(this).find("i").removeClass("fa-plus").addClass("fa-minus");
        $(".set > a").removeClass("active");
        $(this).addClass("active");
        $(".content").slideUp(200);
        $(this).siblings(".content").slideDown(200);
      }
    });
  });
</script>
