<style>
    
 .purepe{background: rgb(0,6,6);background: radial-gradient(circle, rgba(0,6,6,1) 0%, rgba(1,58,79,1) 52%, rgba(2,77,107,1) 72%);;padding-bottom:10px}
#shopify-section-featured-collections .SectionHeader .SectionHeader__Heading{color:#fff}
.fw-head{text-align: center;color: #fff;font-size: 24px;font-weight: 700;margin-top:40px}

.row{display:flex;flex-flow:wrap;}
.row .col-3{width:25%;padding:0 10px}  
  .tablef li {font-size: 12px;font-weight: 700;border: 1px solid rgb(0 0 0 / 18%);text-align: left;padding: 10px 15px;color:white;}
  .tablef {border-radius:20px;}
.tablef p{font-size: 16px;font-weight: 700;color:white;border: 1px solid rgb(0 0 0 / 18%);text-align: left;padding: 10px 15px;border-radius: 15px 15px 0px 0px;margin-bottom:0;text-transform: uppercase; letter-spacing: 1px;}
  .tablediv h3{text-align: center;color: #fff;font-size: 24px;font-weight: 700;}

.table-mein li{font-size:14px;font-weight:700;background:rgba(255,255,255,0.25);box-shadow:0 8px 32px 0 #8b8b8b57;backdrop-filter:blur(16px);-webkit-backdrop-filter:blur(16px);border-radius:10px;border:1px solid rgba(255,255,255,0.18);margin-bottom:16px;width:90%;text-align:left;padding:10px 15px}
span.yitc{margin-left:10px}
span.spend{float:right}
.a96071909530 .ProductItem{background:#ffffffcc!important;box-shadow:0 8px 32px 0 #ffffff42!important;backdrop-filter:blur(9.5px)!important;-webkit-backdrop-filter:blur(9.5px)!important;border-radius:10px!important}
.tc{color:#fff;padding:30px 20px 21px 56px;background:rgb(255 255 255 / 9%);box-shadow:0px 0px 10px 0 #ffffff1c;backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px);border-radius:10px;margin:30px}
.tc h2{font-size:30px;font-weight:800;letter-spacing:1px}
.tc ul{margin-bottom:10px}
.tc li{margin-bottom:15px;font-size:16px;font-weight:500}
.cl1{background-color: #D62C4A;overflow:hidden;}
.cl2{background-color: #0babc6;}
.cl3{background-color: #0451FE;}
.cl4{background-color: #7eb832;}  
  #shopify-section-featured-collections{border:none!important}
  .fw-heading {text-align: center;margin: 34px 0;font-size: 30px;color: white;font-weight: 800;text-transform: capitalize;}
.mobban-l{display:none}
  @media(max-width:500px) {

.ProductList--removeMargin{margin-bottom:-10px!important}
.table-mein{width:100%;text-align:center;margin-top:25px}
.table-mein li{margin:0 auto 15px}
  .row .col-3{width:100%;padding:0 10px}  
  .tc h2{font-size:22px}
  .tc li{margin-bottom:8px}
.tc{color:#fff;padding:21px 20px 6px 20px;background:rgba(255,255,255,0.25);box-shadow:0 8px 32px 0 #ffffff42;backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px);border-radius:10px;margin:17px}
.fw-heading {text-align: center;margin: 14px 0;font-size: 20px;color: white;font-weight: 800;text-transform: capitalize;}
.mobban-l{display:block}
    .deskban-l{display:none}
  }
</style>

<div class="purepe">
  {% section 'slideshow' %}
  {% comment %}
  {% section 'marquee-gz' %}
  {% endcomment %}
  {% section 'games' %}

 <!-- <div class="tablediv">
    <div class="Container">
      <h3>Games Leaderboard</h3>
      <div class="row">
        <div class="col-3">
          <div class="tablef cl1">
            <p>Car Race</p>
             <ol>
          <li>Suryansh Saraswat<span class="yitc">Delhi, India</span><span class="spend">3.5K</span></li>
          <li>Suryansh <span class="yitc">Lucknow, India</span><span class="spend">3.2K</span></li>
          <li>Faisal Khan<span class="yitc">Delhi, India</span><span class="spend">3.10K</span></li>
          <li>Mohd Faisal<span class="yitc">Gurgaon, India</span><span class="spend">2.9K</span></li>
          <li>Manish<span class="yitc">Rajastan, India</span><span class="spend">2.2K</span></li>
          <li>Mr. Rustagi<span class="yitc">U.P, India</span><span class="spend">2.1K</span></li>
          <li>Mukesh<span class="yitc">M.P, India</span><span class="spend">2K</span></li>
          <li>Rakesh<span class="yitc">U.P, India</span><span class="spend">1.8K</span></li>
          <li>Prakash<span class="yitc">Delhi, India</span><span class="spend">1.7K</span></li>
          <li>Andhera<span class="yitc">Kerla, India</span><span class="spend">1K</span></li>
          
        </ol>
          </div>
        </div>
        <div class="col-3">
          <div class="tablef cl2">
            <p>Candy Crush</p>
             <ol>
          <li>Suryansh Saraswat<span class="yitc">Delhi, India</span><span class="spend">3.5K</span></li>
          <li>Suryansh <span class="yitc">Lucknow, India</span><span class="spend">3.2K</span></li>
          <li>Faisal Khan<span class="yitc">Delhi, India</span><span class="spend">3.10K</span></li>
          <li>Mohd Faisal<span class="yitc">Gurgaon, India</span><span class="spend">2.9K</span></li>
          <li>Manish<span class="yitc">Rajastan, India</span><span class="spend">2.2K</span></li>
          <li>Mr. Rustagi<span class="yitc">U.P, India</span><span class="spend">2.1K</span></li>
          <li>Mukesh<span class="yitc">M.P, India</span><span class="spend">2K</span></li>
          <li>Rakesh<span class="yitc">U.P, India</span><span class="spend">1.8K</span></li>
          <li>Prakash<span class="yitc">Delhi, India</span><span class="spend">1.7K</span></li>
          <li>Andhera<span class="yitc">Kerla, India</span><span class="spend">1K</span></li>
          
        </ol>
          </div>
        </div>
        <div class="col-3">
          <div class="tablef cl3">
            <p>Balloon Pop</p>
             <ol>
          <li>Suryansh Saraswat<span class="yitc">Delhi, India</span><span class="spend">3.5K</span></li>
          <li>Suryansh <span class="yitc">Lucknow, India</span><span class="spend">3.2K</span></li>
          <li>Faisal Khan<span class="yitc">Delhi, India</span><span class="spend">3.10K</span></li>
          <li>Mohd Faisal<span class="yitc">Gurgaon, India</span><span class="spend">2.9K</span></li>
          <li>Manish<span class="yitc">Rajastan, India</span><span class="spend">2.2K</span></li>
          <li>Mr. Rustagi<span class="yitc">U.P, India</span><span class="spend">2.1K</span></li>
          <li>Mukesh<span class="yitc">M.P, India</span><span class="spend">2K</span></li>
          <li>Rakesh<span class="yitc">U.P, India</span><span class="spend">1.8K</span></li>
          <li>Prakash<span class="yitc">Delhi, India</span><span class="spend">1.7K</span></li>
          <li>Andhera<span class="yitc">Kerla, India</span><span class="spend">1K</span></li>
          
        </ol>
          </div>
        </div>
        <div class="col-3">
          <div class="tablef cl4">
            <p>Fruit Ninja</p>
             <ol>
          <li>Suryansh Saraswat<span class="yitc">Delhi, India</span><span class="spend">3.5K</span></li>
          <li>Suryansh <span class="yitc">Lucknow, India</span><span class="spend">3.2K</span></li>
          <li>Faisal Khan<span class="yitc">Delhi, India</span><span class="spend">3.10K</span></li>
          <li>Mohd Faisal<span class="yitc">Gurgaon, India</span><span class="spend">2.9K</span></li>
          <li>Manish<span class="yitc">Rajastan, India</span><span class="spend">2.2K</span></li>
          <li>Mr. Rustagi<span class="yitc">U.P, India</span><span class="spend">2.1K</span></li>
          <li>Mukesh<span class="yitc">M.P, India</span><span class="spend">2K</span></li>
          <li>Rakesh<span class="yitc">U.P, India</span><span class="spend">1.8K</span></li>
          <li>Prakash<span class="yitc">Delhi, India</span><span class="spend">1.7K</span></li>
          <li>Andhera<span class="yitc">Kerla, India</span><span class="spend">1K</span></li>
          
        </ol>
          </div>
        </div>
      </div>

      <h2 class="fw-head">Grooming done right!</h2>
    </div>
    
  </div>-->
  
  {% section 'featured-collections' %}
  <div class="fw-heading">
    <h3>Grooming Done right !</h3>
  {% section 'firework-embed' %}
  </div>
  {% comment %}
{% section 'testimonials' %}
{% endcomment %}

<div class="tc">
  <h2>Terms & Conditions</h2>
    <ul>
     
<li>Each game has specific offers to be won.</li>
<li>Squash It - Win BOGO on Skincare Range ( valid on single products only, not valid combos) </li>
<li>Car Race - Buy Beard Care products worth INR 499 and above & Get Beardinator products worth INR 848 free.</li>
<li>Balloon Pop - Buy 3 and Pay for 1 (Applicable on Bath Care, Fragrances, Shave Care and Beardinator products) </li>
<li>Slice Up - Get combos at up to 60% off</li>
<li>On winning, you’ll get a one time use code, which will be valid for the next xx mins. The offer is valid on specific collections.</li>
<li>Offers not valid on our trimmers. </li>
<li>Players should be 18+ in age and should reside in India</li>
      
    </ul>
  </div>
</div>

<div class="last">
  <div class="deskban-l"><a href="https://bombayshavingcompany.com?utm_source=D2C+Web+Links&utm_medium=gamezone_bottom_to_homepage"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Desktop_2_eeff4ed1-114e-4b00-a131-e14c9a6c92ed.jpg?v=1664169519" style="width:100%"></a></div>
  <div class="mobban-l"><a href="https://bombayshavingcompany.com?utm_source=D2C+Web+Links&utm_medium=gamezone_bottom_to_homepage"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Mobile_3.jpg?v=1664169520" style="width:100%"></a></div>
</div>


<script>
</script>