<style>
  span.pri {font-size: 26px;font-weight: 700;color: #0d5ea8; margin: 4px;}
  .video iframe {padding: 15px;border-radius: 37px;height: 750px;}
  .hero-main{display:block}
  .hero-inner{display: flex;max-width: 100%; width: 62%;margin: 0 auto;justify-content: space-around;align-items: center;}
  .hero-text{width:70%}
  .hero-img{width:40%}
  .hero-text p{text-align: left;font-size: 27px; font-weight: 500; word-spacing: 1px; line-height: 45px}
  .hero-buy-btns{display:flex; max-width:100%; width:63%; margin:0 auto; justify-content:center; align-items:center}
  .addto_btn{width:50%}
  .buynow_btn{width:50%}
  .mid-main{display:block; position:relative; max-width:100%; margin:66px auto}
  .mid-item{padding: 0 10px;}
  .mid-item img{width:100%; border-radius:20px}
  .mid-main h1 {font-size: 24px;font-weight: 600;text-align: center;}
  .mid-item p {font-size: 13px;text-align: center;font-weight: 500;}
  .mid-item h2 {font-size: 22px;padding-top: 13px;margin: 0;text-align:center;}
  .mid-ban h2 {text-align: center;font-size: 30px;font-weight: 600;}
  img.mob {display: none;}
  .mid-ban { max-width: 100%;width: 1000px;margin: 0 auto;}
  .mid-ban img{border-radius:20px}
  .ing-cont {text-align: center;}
  .ing-cont h2 {font-size: 21px;font-weight: 600}
  .ing-cont p {font-size: 16px;text-align:center;}
  .ing-1 img{filter:blur(6px);transform:scale(0.9)}
    .ing-1.slick-active img{filter:none; transform:scale(1.1)}
  .ing-1.slick-active h2{display:block}
  .ing-1.slick-active p{display:block}
  .ing-1 h2{display:none}
  .ing-1 p{display:none}
  .main-ing h2 {font-size: 30px;text-align: center;font-weight: 600;margin: 43px 0;}
  .ing-cont h2{font-size:25px; margin:10px 0 12px 0}
  .ing-inner{max-width:100%; width:1200px; position:relative;display:block; margin:0 auto}
  .main-ing{margin-bottom:28px}
  .ing-1{min-height:550px}
  .cont-mid h2 {font-size: 48px;text-align: center;font-weight: 900;padding: 20px 270px;}
.cont-mid {max-width: 100%; background: black;color: white;}
  .a97086111898 .SectionHeader .SectionHeader__Heading{display:none}
 .a97086111898 #shopify-section-featured-collections{border:none}
  .fw-test h2{font-size:22px; text-align:center; font-weight:600; margin: 25px 0 -25px 0;}
  button#ad_to_cart\ cfw{ padding: 17px 56px; display: block; max-width: 100%; width: 38%; border-radius: 12px; margin-top: 8px; margin: -121px 0px 129px 271px;}
  @media(max-width:500px){
    .video iframe {height: 300px;padding: 9px;border-radius: 22px}
    .hero-inner {width:100%}
    .hero-text p {font-size: 16px;font-weight: 500;margin-left:25px;line-height:25px; word-spacing:0}
    img.mob{display:block;box-shadow: 1px 2px 2px 0px #b1aaaa;}
    img.desk{display:none}
    .mid-ban{width:100%; padding:0 10px}
    .mid-main{width:100%}
    .mid-item p{font-size:15px;padding:0 18px}
    .mid-item img{box-shadow: 1px 2px 2px 0px #b1aaaa}
    .mid-ban h2{font-size:23px;padding:0 43px}
    .mid-main{margin:15px auto}
    .ing-cont h2{font-size:15px; margin:10px 0 7px 0}
    .ing-cont p{font-size:14px} 
    .cont-mid h2{font-size:20px; padding:20px 0}
    button#ad_to_cart\ cfw{ padding: 9px 33px; display: block; max-width: 100%; width: 92%; border-radius: 12px; margin: -1px 15px;}
    .ing-1{min-height:340px;}
    .main-ing{margin-bottom:0}
    span.pri {font-size: 16px;font-weight: 700;color: #0d5ea8; margin: 1px;}
    
  }
</style>
{% section 'slideshow' %}
<!--PRODCUT SHOWCASE START-->
<div class="container ">
  <div class="hero-main">
    <a href="https://bombayshavingcompany.com/products/charcoal-facewash-men">
    <div class="hero-inner">
      <div class="hero-text">
        <p>Don’t let the toxic impurities and pollution from everyday hustle take away your spotlight. 
Give your skin a total detox with our best-selling Charcoal Face Wash, powered by activated bamboo charcoal for 10X deep cleansing.<br><span class="pri">MRP ₹259</span> </p>
          </div>
      <div class="hero-img"><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Bombay_Shaving_Company_Charcoal_Face_Wash_-_100_gm.png?v=1667752142" style="width:100%"></div>
    </div></a>
    
     <button type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary cfw" id="ad_to_cart cfw" aria-haspopup="dialog" data-add-to-cart="35963114029210" data-var_id="35963114029210" data-action="open-drawer" data-drawer-id="sidebar-cart"><span>Add to cart</span></button>
    </div>
  </div>
</div>
<!--PRODCUT SHOWCASE END-->

<div class="container">
  <div class="mid-main">
    <h1>Why Use Activated Bamboo Charcoal In Skincare?</h1>
    <div class="mid-slick">
      <div class="mid-item">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/1_2.jpg?v=1667753665">
        <h2>Removes Impurities</h2>
        <p>Activated bamboo charcoal is the key ingredient to turn to when you want a deeper cleanse to remove deep-seated dirt, dead cells and impurities from your skin.</p>
      </div>
      <div class="mid-item">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/2_2.jpg?v=1667753665">
        <h2>Removes Extra Oil</h2>
        <p>While a regular face wash might clean the surface of oily skin, activated bamboo charcoal reaches deep into the pores and dispels just the right amount of oil, leaving your skin healthy and hydrated.</p>
      </div>
      <div class="mid-item">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/3_2_b620165a-8b62-409d-a3f1-5a1edb8343ad.jpg?v=1667753665">
       <h2>Decreases blackheads</h2>
        <p>Goes without saying, cleaner pores mean lesser blackheads. Activated bamboo charcoal helps deep clean the buildup that causes blackheads</p>
      </div>
       <div class="mid-item">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/4_2.jpg?v=1667753665">
        <h2>Helps reduce acne</h2>
        <p>Activated bamboo charcoal is also known for its antibacterial properties. It helps fight acne-causing bacteria and reduces excessive oil buildup in the skin pores. </p>
      </div>
       <div class="mid-item">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/5_2.jpg?v=1667753666">
        <h2>Skin Exfoliation</h2>
        <p>Instead of stripping the top layer of the skin with harsh chemicals or textures, activated bamboo charcoal helps remove the deepest of debris from pores while absorbing tiny oil molecules. </p>
      </div>
    </div>
  </div>
</div>
<div class="cont-mid">
  <h2>Checkout our other products enriched with activated charcoal</h2>
</div>
{% section 'featured-collections' %}
<div class="mid-ban">
  <h2>Why Choose Our Charcoal Face Wash?</h2>
  <img class="desk" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Benefit_Desktop.jpg?v=1667805775" style="width:100%">
  <img class="mob" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Benefit_Mobile.jpg?v=1667805775" style="width:100%">
</div>
<!-- INGREDIENTS -->
<div class="main-ing">
  <h2>Key ingredients</h2>
  <div class="ing-inner">
    <div class="ing-slick">
      <div class="ing-1">
      <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ingredient_Charcoal.png?v=1667817528" style="width:100%">
      <div class="ing-cont">
        <h2>Activated Bamboo Charcoal</h2>
        <p>Natural antibacterial cleanser and detoxicant</p>
      </div>
    </div>
    <div class="ing-1">
      <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ingredient_Papaya.png?v=1667817528" style="width:100%">
     <div class="ing-cont">
        <h2>Papaya Extract</h2>
        <p>Rich in essential vitamins and antioxidants that help make your skin look radiant, toned and youthful.</p>
      </div>
    </div>
    <div class="ing-1">
       <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Ingredient_Pomegranate.png?v=1667817527" style="width:100%">
      <div class="ing-cont">
        <h2>Pomegranate</h2>
        <p>Hydrates and protects the skin from premature ageing </p>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- INGREDIENTS END -->
<div class="video">
  <iframe width="100%" height="600" src="https://www.youtube.com/embed/Apw821cumCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div class="fw-test">
  <h2>Our Customers</h2>
{% section 'testimonials' %}
</div>
<div class="end-ban">
  <img class="desk" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Desktop_Banner_Bottom.jpg?v=1667825499" style="width:100%">
  <img class="mob" src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Mobile_Banner_Bottom.jpg?v=1667825499" style="width:100%">
</div>

  <script>
   $('.mid-slick').slick({
              slidesToShow: 4,
             responsive: [ {
                breakpoint: 768,
                settings: {
                  slidesToShow:1,
                  slidesToScroll:1,
                  arrows: false,
                  autoplay:true,
                  autoplaySpeed: 800,
                  infinite: true
                }
              }]
            });
$('.ing-slick').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
              centerPadding: '400px',
              infinite: true,
              autoplay: true,
             autoplaySpeed: 800,
            responsive: [ {
                breakpoint: 768,
                settings: {
                  slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
              infinite: true,
              autoplay: true,
                  arrows: false,
              centerPadding: '100px'
                }
              }]
            });
</script>
<script>$(".shopify-section--slideshow,.end-ban").click(function() {
    window.scrollTo({top: 400, behavior: 'smooth'});
});</script>