{% comment %} HAIR REMOVAL SPRAY CSS START {% endcomment %}
<style>
  .main{display:block; position:relative; background:#000}
  img.mob{display:none}
  .f2-block {display: block;position: relative;}
  .f2-flex {display: flex;align-items: center;justify-content: space-between;padding: 20px 0;}
  .f2-block {display: block;position: relative;}
  .img-f2 {padding-right: 10px;position:relative}
  .f2-usp{padding-left:10px}
  .f3-flex {display: flex;align-items: center;justify-content: space-between;padding: 20px 0;}
  .img-f3 {padding-right: 10px;width:50%}
  .f3-usp{padding-left:10px;width:50%}
  .f5-block {padding-top: 20px;}
  .f6-block {padding-top: 20px;}
  .f7-block {display: block;max-width: 100%;position: relative;padding:20px 0;}
  .f7-block h1 {font-size: 35px;color: #9ca3af;text-align: center;font-weight: 700;font-style: italic;}
  .f7-flex{display:flex;align-items:center;justify-content:space-between}
.f7-child-1{border-radius:14px;width:50%;background:#9ca3af;padding-right:20px;margin:17px 17px 36px 28px}
.f7-child-1 h2{font-size:34px;width:350px;font-weight:600;margin:0 auto;font-style:italic;margin-top:43px}
.f7-child-1 p{font-size:29px;font-weight:600;font-style:italic;text-align:center;margin-right:65px;margin-top:21px;padding-bottom:42px}
.f7-child-2{border-radius:14px;width:50%;background:#9ca3af;padding-right:20px;margin:17px 17px 36px 28px}
.f7-child-2 h2{font-size:34px;width:350px;font-weight:600;margin:0 auto;font-style:italic;margin-top:43px}
.f7-child-2 p{font-size:29px;font-weight:600;font-style:italic;text-align:center;margin-right:65px;margin-top:21px;padding-bottom:42px}
  button.hrs {
    position: absolute;
    z-index: 98;
    top: auto;
    bottom: 33px;
    left: 29%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 200px!important;
    border-radius: 10px !important;
    padding: 16px 0 !important;
}
  .img-f2:hover .hrs {
    opacity: 1;
}
  .f1-block-mob{display:none}
  .f2-block-mob{display:none}
  .f3-block-mob{display:none}
  .f4-block-mob{display:none}
  .f5-block-mob{display:none}
  @media(max-width:500px){
    .main{background:#fff}
    .f3-block-mob{display:block;background:#fff}
    .f3-block-mob h2 {font-size: 22px;font-weight: 600;text-align: center;margin-bottom: 5px;margin-top: -18px;}
    .f1-block-mob{display:block}
    .f2-block-mob{display:block;background:#fff}
    .f2-block-parent {display: flex;justify-content: space-between;    padding: 23px 0;}
    .f4-block-mob{display:block}
    .f4-block-mob h2 {font-size: 22px;font-weight: 600;text-align: center;    margin: 19px 0;}
    .f5-block-mob{display:block}
    .f2-block, .f3-block, .f4-block, .f5-block, .f6-block{display:none}
    .f7-block{padding:0; margin-top:-10px}
    .inng-cont {text-align: center;}
  .inng-cont h2 {font-size: 21px;font-weight: 600}
  .inng-cont p {font-size: 12px;text-align:center;}
  .inng-1 img{filter:blur(6px);transform:scale(0.9)}
    .inng-1.slick-active img{filter:none; transform:scale(1.1)}
  .inng-1.slick-active h2{display:block}
  .inng-1.slick-active p{display:block}
  .inng-1 h2{display:none}
  .inng-1 p{display:none}
  .main-ing h2 {font-size: 30px;text-align: center;font-weight: 600;margin: 43px 0;}
  .inng-cont h2{font-size:25px; margin:10px 0 12px 0}
  .inng-inner{max-width:100%; width:1200px; position:relative;display:block; margin:0 auto}
  .main-inng{margin-bottom:28px}
  .inng-1{min-height:350px}
    img.mob{display:block}
    img.desk{display:none}
    button.hrs {
    opacity: 1;
    left: 23%;
    bottom: 11px;
    padding: 10px 0!important;
}
    .f2-flex{display:block;padding:0}
    .img-f2{padding:0}
    .f2-usp {display:none}
    .f3-flex{display:block;padding:0}
    .img-f3 {padding-right: 0px;width:100%}
  .f3-usp{padding-left:0px;width:100%}
    .f7-flex{display:block}
    .f7-child-1 { width: 381px;margin: 0 auto;}
    .f7-child-2 { width: 381px;margin: 0 auto;}
    .f7-child-1 h2 {padding: 19px 19px 0 26px;font-size:24px}
    .f7-child-2 h2 {padding: 19px 19px 0 26px;font-size:24px}
    .f7-child-1 p{font-size:20px;text-align: right;}
    .f7-child-2 p{font-size:20px;text-align: right;}
    .f1-block,.f2-block,.f3-block,.f4-block,.f5-block,.f6-block{padding:0}
  }

</style>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<!-- HAIR REMOVAL SPRAY HTML START -->
<div class="main">
  <div class="f1-block-mob">
    {% section 'featured-video' %}
  </div>
  <div class="f1-block">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/1._top_Banner.webp?v=1678346046" class="desk" alt="main-banner desktop" style="width:100%; height:auto">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/100_-Clean_1.jpg?v=1678968896" class="mob" alt="main-banner mobile" style="width:100%; height:auto">
  </div>
  <div class="f2-block-mob">
    <div class="f2-block-parent">
      <div class="f2-block-child" data-aos="fade-left">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Spray.png?v=1678970023" style="width:300px; height: auto">
      </div>
      <div class="f2-block-child" data-aos="fade-up">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Wipe.png?v=1678970024" style="width:300px; height: auto">
      </div>
      <div class="f2-block-child"data-aos="fade-right">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Clean.png?v=1678970023" style="width:300px; height: auto">
      </div>
    </div>
  </div>
  <div class="f3-block-mob" >
    <h2>Why Hair Removal Spray</h2>
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/WHYHRS.jpg?v=1678970743" style="width:100%; height:auto" data-aos="fade-up">
  </div>
  <div class="f4-block-mob" >
    <h2 data-aos="fade-left">Why our Hair Removal Spray</h2>
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/WHYBSCHRS.jpg?v=1678971192" style="width:100%; height:auto" data-aos="fade-right">
  </div>
  <div class="f5-block-mob">
    <div class="main-ing">
  <h2>Key ingredients</h2>
  <div class="inng-inner">
    <div class="inng-slick">
      <div class="inng-1">
      <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Vitamin_e.png?v=1678972981" style="width:100%">
      <div class="inng-cont">
        <h2>Vitamin E</h2>
        <p>Helps prevent skin irritation</p>
      </div>
    </div>
    <div class="inng-1">
      <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Charcoal.png?v=1678972980" style="width:100%">
     <div class="inng-cont">
        <h2>Charcoal</h2>
        <p>deep cleanses and unclogs pores </p>
      </div>
    </div>
    <div class="inng-1">
       <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Aloevera.png?v=1678972980" style="width:100%">
      <div class="inng-cont">
        <h2>Aloe Vera</h2>
        <p>Hydrates and soothes the skin  </p>
      </div>
    </div>
    </div>
  </div>
</div>
    <div class="f6-block-mob">
      {% section 'blog-posts' %}
    </div>
  </div>
  <div class="f2-block">
    <div class="f2-flex">
      <div class="img-f2">
     <a href="/products/hair-removal-spray" ><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/3._Product_Image.webp?v=1678346382" class="flex1" alt="main-banner desktop" style="width:100%; height:auto"></a>
        <button type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary hrs" id="ad_to_cart hrs" aria-haspopup="dialog" data-add-to-cart="43344156065946" data-var_id="43344156065946" data-action="open-drawer" data-drawer-id="sidebar-cart"><span>Add to cart</span></button>
    </div>
      <div class="f2-usp">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/4._key_usps.webp?v=1678346382" class="flex2" alt="main-banner desktop" style="width:100%; height:auto">
      </div>
    </div>
  </div>
  <div class="f3-block">
    <div class="f3-flex">
      <div class="img-f3">
      <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/7.Product_USP_1.webp?v=1678347740" class="flex1" alt="main-banner desktop" style="width:100%; height:auto">
    </div>
      <div class="f3-usp">
        <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/8._Smallgif-min.gif?v=1678348060" class="flex2" alt="main-banner desktop" style="width:100%; height:auto">
      </div>
    </div>
  </div>
  <div class="f4-block">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/6._WhyUseOurHRS.webp?v=1678347082" class="desk" alt="main-banner desktop" style="width:100%; height:auto">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/WhyUseOurHRS.webp?v=1678431091" class="mob" alt="main-banner desktop" style="width:100%; height:auto">
  </div>
  <div class="f5-block">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/9.Key_Ingredients.webp?v=1678348299" class="desk" alt="main-banner desktop" style="width:100%; height:auto">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/KeyIngredients.webp?v=1678431091" class="mob" alt="main-banner desktop" style="width:100%; height:auto">
  </div>
  <div class="f6-block">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/10.CompleteBodyHairRemoval.webp?v=1678348429" class="desk" alt="main-banner desktop" style="width:100%; height:auto">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/CompHairbodyremoval.webp?v=1678431091" class="mob" alt="main-banner desktop" style="width:100%; height:auto">
  </div>
  <div class="f7-block">
   <h1>Testimonials</h1>
    <div class="f7-flex">
      <div class="f7-child-1">
        <h2>Better than razors, fast and very effective</h2>
        <p>- Rohan Singh</p>
      </div>
      <div class="f7-child-2">
        <h2>All hair gone in just minutes, I love the experience</h2>
        <p>- Tushar Khurana</p>
    </div>
  </div>
</div>

<!-- HAIR REMOVAL START HTML END -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init();
</script>
<script>
  $('.inng-slick').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
              centerPadding: '400px',
              infinite: true,
              autoplay: true,
             autoplaySpeed: 2000,
            responsive: [ {
                breakpoint: 768,
                settings: {
                  slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
              infinite: true,
              autoplay: true,
                  arrows: false,
              centerPadding: '100px'
                }
              }]
            });

  $('.ArticleList').slick({
              slidesToShow: 3,
              slidesToScroll: 1,
              infinite: true,
              autoplay: true,
			  responsive: [ {
                breakpoint: 520,
                settings: {
                  slidesToShow: 1
                }
              }]
            });
</script>